<div class="quiz-list">
    <div class="quiz-list-header">
        <span class="quiz-list-header__title">Quizzes</span>

        <form class="quiz-list-header-selector" method="get" action="">
            <select name="category" id="category" class="quiz-list-header-selector-item"
                    ng-model="RunQuizzesCtrl.selectedCategory" ng-options="o._id as o.title for o in RunQuizzesCtrl.categories"
                    ng-change="RunQuizzesCtrl.updateQuizzes()">
            </select>
            <select name="difficulty" id="difficulty" class="quiz-list-header-selector-item"
                    ng-model="RunQuizzesCtrl.selectedComplexity" ng-options="o._id as o.title for o in RunQuizzesCtrl.difficulties"
                    ng-change="RunQuizzesCtrl.updateQuizzes()">
            </select>
            <select ng-show="RunQuizzesCtrl.statusShow()" name="status" id="status" class="quiz-list-header-selector-item" ng-model="RunQuizzesCtrl.selectedStatus"
                    ng-options="o._id as o.title for o in RunQuizzesCtrl.statuses" ng-change="RunQuizzesCtrl.updateQuizzes()">
            </select>
        </form>
    </div>

    <div class="quiz-list-selection">
        <table class="quiz-list-selection-table">
            <tr class="quiz-list-selection-table-row-heading">
                <th class="quiz-list-selection-table-row-heading__title">Category</th>
                <th class="quiz-list-selection-table-row-heading__title">Name</th>
                <th class="quiz-list-selection-table-row-heading__title">Difficulty</th>
                <th ng-show="RunQuizzesCtrl.statusShow()"
                    class="quiz-list-selection-table-row-heading__title">Avrg</th>
                <th ng-show="RunQuizzesCtrl.statusShow()"
                    class="quiz-list-selection-table-row-heading__title">Best</th>
                <th ng-show="RunQuizzesCtrl.statusShow()"
                    class="quiz-list-selection-table-row-heading__title">Total passing</th>
            </tr>
            <tr class="quiz-list-selection-table-row-content" ng-repeat="quiz in RunQuizzesCtrl.quizzes"
                ng-click="QuizzesContainerCtrl.quizFactory.activeQuiz = quiz._id; QuizzesContainerCtrl.resultFactory.setLastResult(null);"
                    ng-show="pageFilter($index)">
                <td class="quiz-list-selection-table-row-content__title">{{quiz.category.title}}</td>
                <td class="quiz-list-selection-table-row-content__title">{{quiz.title}}</td>
                <td class="quiz-list-selection-table-row-content__title">{{RunQuizzesCtrl.getComplexity(quiz.complexity)}}</td>
                <td ng-show="RunQuizzesCtrl.statusShow()"
                    class="quiz-list-selection-table-row-content__title">{{RunQuizzesCtrl.statistics.getAverageResult(quiz)}} %</td>
                <td ng-show="RunQuizzesCtrl.statusShow()"
                    class="quiz-list-selection-table-row-content__title">{{RunQuizzesCtrl.statistics.getBestResult(quiz)}} %</td>
                <td ng-show="RunQuizzesCtrl.statusShow()"
                    class="quiz-list-selection-table-row-content__title">{{RunQuizzesCtrl.statistics.getTotalPassing(quiz)}}</td>
            </tr>
        </table>


        <eq-pagination view-list="RunQuizzesCtrl.quizzes" limit="3"></eq-pagination>
        <!--<pagination class="quiz-list-selection-pagination" data-num-pages="RunQuizzesCtrl.numPages()" -->
              <!--data-current-page="currentPage" data-max-size="maxSize"  -->
              <!--data-boundary-links="true" data-previous-text="&laquo;" data-next-text="&raquo;">-->
        <!--</pagination>-->
    </div>
</div>
<div ng-hide="RunQuizzesCtrl.dataLoaded" class="preloader">
</div>