<div class="notes-list">
    <div class="notes-list-wrapper">
        <!--<ul dnd-list="list">-->
               <!--<li ng-repeat="item in list"-->
                   <!--dnd-draggable="item"-->
                   <!--dnd-moved="list.splice($index, 1)"-->
                   <!--dnd-effect-allowed="move"-->
                   <!--dnd-selected="NoteCtrl.models.selected = item"-->
                   <!--ng-class="{'selected': NoteCtrl.models.selected === item}"-->
                   <!--ng-show="NotesListCtrl.paginatorCheck($index)">-->
                   <!--&lt;!&ndash;<div>{{note.title}}</div>&ndash;&gt;-->
                   <!--<div>Javascript</div>-->
                   <!--<div ng-click="NotesListCtrl.editInit(note)">E</div>-->
                   <!--<div ng-click="NotesListCtrl.onNoteClick(note)">x</div>-->
               <!--</li>-->
        <!--</ul>-->

        <ul class="notes-list-container" dnd-list="NotesListCtrl.notes">
            <li class="notes-list-container-item" ng-repeat="note in NotesListCtrl.notes" ng-show="NotesListCtrl.paginatorCheck($index)"
                dnd-draggable="note"
                dnd-moved="NotesListCtrl.onMove($index)"
                dnd-effect-allowed="move">
                <span class="notes-list-container-item__title">
                    {{note.title}}
                </span>

                <span class="notes-list-container-item__content">
                    {{note.text}}
                </span>

                <span class="notes-list-container-item__category">
                    Javascript
                </span>

                <div class="notes-list-container-item-controls">
                    <span class="notes-list-container-item-controls__edit" ng-click="NotesListCtrl.editInit(note)"></span>
                    <span class="notes-list-container-item-controls__favourite"></span>
                    <span class="notes-list-container-item-controls__delete" ng-click="NotesListCtrl.onNoteClick(note)"></span>
                </div>
            </li>
        </ul>

        <div class="notes-list-trash">
            <span class="notes-list-trash__icon"></span>
            <ul dnd-list="NotesListCtrl.deletedList" >
                <li ng-click="NotesListCtrl.RecycleCleanUp()">trashcan clean</li>
                <li ng-repeat="deletedNote in NotesListCtrl.deletedList"
                    dnd-draggable="deletedNote"
                    dnd-moved="NotesListCtrl.onDeletedMove($index)"
                    dnd-effect-allowed="move">
                    <div>{{deletedNote.title}}</div>
                    <div>Javascript</div>
                    <div ng-click="NotesListCtrl.onNoteClick(note)">x</div>
                </li>
            </ul>
        </div>

        <div class="notes-list-pagination" data-temp="pagination">
            <span ng-click="NotesListCtrl.goToFirstPage()">First</span>
            <span ng-click="NotesListCtrl.previousPage()">&laquo;</span>
            <span ng-click="NotesListCtrl.goToPage(page)" ng-repeat="page in NotesListCtrl.pageList">{{page + 1}}</span>
            <span ng-click="NotesListCtrl.nextPage()">&raquo;</span>
            <span ng-click="NotesListCtrl.goToLastPage()">Last</span>
        </div>

        <div data-temp="create-form">
            <form ng-show="NotesListCtrl.createMenuActive" ng-submit="NotesListCtrl.addNote(NotesListCtrl.newNote)">
                <h2>Create note</h2>
                <div>Add title</div>
                <textarea ng-model="NotesListCtrl.newNote.title" placeholder="Title"></textarea><br/>

                <div>Add text</div>
                <textarea ng-model="NotesListCtrl.newNote.text" placeholder="Text"></textarea><br/>

                <div>
                    <input ng-click="NotesListCtrl.toggleCreate()" type="submit" value="Submit" />
                </div>
            </form>
        </div>

        <div data-temp="edit-form">
            <form ng-show="NotesListCtrl.editMenuActive" ng-submit="NotesListCtrl.updateNote(NotesListCtrl.editNote)">
                <h2>Edit note</h2>
                <div>Edit title</div>
                <textarea ng-model="NotesListCtrl.editNote.title" placeholder="Title"></textarea><br/>

                <div>Edit text</div>
                <textarea ng-model="NotesListCtrl.editNote.text" placeholder="Text"></textarea><br/>

                <div>
                    <input ng-click="NotesListCtrl.hideEdit()" type="submit" value="Submit" />
                </div>
            </form>
        </div>

        <div class="notes-list-button">
            <button class="notes-list-button__new-note" ng-show="!NotesListCtrl.createMenuActive" ng-click="NotesListCtrl.showCreate()">
                CREATE NEW NOTE
            </button>

            <button class="notes-list-button__back-to-main" ng-click="NotesListCtrl.switchToMain()">BACK TO MAIN</button>
        </div>
    </div>
</div>    