<div class="notes">
	<div class="notes-header">
		<span class="notes-header__title">Notes</span>
	</div>
	
	<div class="notes-wrapper">
		<div class="notes-block" ng-class="{'is-empty': notes.empty}" ng-repeat="note in NotesMainCtrl.notes  | limitTo:NotesMainCtrl.limit">
			<div class="notes-block__name">
				{{note.title}}
			</div>
			<div class="notes-block__content">
				{{note.text}}
			</div>
			<div class="notes-block-info">
				<span class="notes-block-info__category">Note info</span>
				<div class="notes-block-info-controls">
					<span class="notes-block-info-controls__favourite"
						  ng-class="{'is-true': note.favourite}"></span>
					<span class="notes-block-info-controls__delete"
						  ng-click="NotesMainCtrl.deleteNote(note)"></span>
				</div>
			</div>
		</div>
	</div>


	<div class="notes-button">
		<button ng-click="NotesMainCtrl.switchToList()" class="notes-button__show-all">VIEW ALL</button>
	</div>
</div>