/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-checkbox_checked {
  background-image: url(../i/sprite.png);
  background-position: -70px 0px;
  width: 29px;
  height: 29px;
}
.icon-checkbox_not_checked {
  background-image: url(../i/sprite.png);
  background-position: 0px -50px;
  width: 29px;
  height: 29px;
}
.icon-delete {
  background-image: url(../i/sprite.png);
  background-position: -88px -79px;
  width: 16px;
  height: 16px;
}
.icon-delete_hover {
  background-image: url(../i/sprite.png);
  background-position: -72px -79px;
  width: 16px;
  height: 16px;
}
.icon-facebook {
  background-image: url(../i/sprite.png);
  background-position: -29px -50px;
  width: 24px;
  height: 24px;
}
.icon-facebook_hover {
  background-image: url(../i/sprite.png);
  background-position: -53px -50px;
  width: 24px;
  height: 24px;
}
.icon-favourite_false {
  background-image: url(../i/sprite.png);
  background-position: -77px -50px;
  width: 16px;
  height: 16px;
}
.icon-favourite_hover {
  background-image: url(../i/sprite.png);
  background-position: -70px -29px;
  width: 16px;
  height: 16px;
}
.icon-favourite_true {
  background-image: url(../i/sprite.png);
  background-position: -104px -79px;
  width: 16px;
  height: 16px;
}
.icon-googleplus {
  background-image: url(../i/sprite.png);
  background-position: 0px -79px;
  width: 24px;
  height: 24px;
}
.icon-googleplus_hover {
  background-image: url(../i/sprite.png);
  background-position: -24px -79px;
  width: 24px;
  height: 24px;
}
.icon-linkedin {
  background-image: url(../i/sprite.png);
  background-position: -48px -79px;
  width: 24px;
  height: 24px;
}
.icon-linkedin_hover {
  background-image: url(../i/sprite.png);
  background-position: -99px -24px;
  width: 24px;
  height: 24px;
}
.icon-logo {
  background-image: url(../i/sprite.png);
  background-position: 0px -25px;
  width: 70px;
  height: 25px;
}
.icon-logo_hover {
  background-image: url(../i/sprite.png);
  background-position: 0px 0px;
  width: 70px;
  height: 25px;
}
.icon-twitter {
  background-image: url(../i/sprite.png);
  background-position: -99px 0px;
  width: 24px;
  height: 24px;
}
.icon-twitter_hover {
  background-image: url(../i/sprite.png);
  background-position: -99px -48px;
  width: 24px;
  height: 24px;
}

.about-container {
	width: 1280px;
	height: 880px;
	margin: 64px auto 0;

	&-name {
		float: left;
		margin-left: 17.5%;
		padding-top: 150px;

		&__vertical {
			display: inline-block;
			vertical-align: top;
			text-align: center;
			margin-left: 20px;
			font-size: 3em;
			line-height: 1.5em;
			font-weight: bold;
			width: 1em;
			color: #fff;
		}
	}

	&-info {
		overflow: hidden;
		padding-left: 17.5%;
		padding-top: 150px;
		width: 190px;

		&__heading {
			font-weight: bold;
			font-size: 26px;
			line-height: 28px;
			margin:15px 0 30px;
			color: #3c3c3c;
		}

		&__content {
			font-size: 18px;
			line-height: 22px;
			margin-bottom: 30px;
			color: #626363;
		}

		&__start {
			background: #fd2828;
			border: none;
			padding: 10px 20px;
			color: #fff;
			cursor: pointer;
			font-weight: bold;
			transition: background 0.5s ease-in-out;

			&:hover {
				background: #2c2c2c;
			}
		}
	}
}
.footer {
	height: 54px;
	width: 1280px;
	margin: 0 auto;
	font-size: 18px;
	line-height: 54px;
	text-align: center;

	&-logo {
		float: left;
		line-height: 54px;
		height: 54px;
		margin-left: 10%;

		&__link {
			@extend .icon-logo;
			display: inline-block;
			vertical-align: middle;

			&:hover {
				@extend .icon-logo_hover;
			}
		}
	}
	
	&-socials {
		display: inline-block;
		margin-left: 120px;
		height: 54px;

		&__tw {
			@extend .icon-twitter;
			display: inline-block;
			vertical-align: middle;
			margin: 0 10px;

			&:hover {
				@extend .icon-twitter_hover;
			}
		}

		&__fb {
			@extend .icon-facebook;
			display: inline-block;
			vertical-align: middle;
			margin: 0 10px;

			&:hover {
				@extend .icon-facebook_hover;
			}
		}

		&__in {
			@extend .icon-linkedin;
			display: inline-block;
			vertical-align: middle;
			margin: 0 10px 2px;

			&:hover {
				@extend .icon-linkedin_hover;
			}
		}

		&__gp {
			@extend .icon-googleplus;
			display: inline-block;
			vertical-align: middle;
			margin: 0 10px -7px;

			&:hover {
				@extend .icon-googleplus_hover;
			}
		}
	}

	&-developed {
		color: #a1a1a1;
		float:right;
		margin-right: 10%;
	}	
}
.header{
	height: 64px;
	width: 100%;
	min-width: 1280px;
	margin: 0 auto;
	background: #fff;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 2;

	&-wrapper {
		width: 1280px;
		margin: 0 auto;
	}

	&-main {
		float:left;
		margin-left: 80px;

		&-nav {
			&-list {
				margin: 0;
				padding: 0;

				&-item {
					display: inline-block;
					line-height: 64px;
					height: 64px;
					vertical-align: top;
					font-size: 18px;
					font-weight: bold;

					&__home {
						display: inline-block;
						color: #fff;
						text-align: center;
						background-color: #fd2828;
						height: 64px;
						width: 64px;
						font-size: 48px;
						font-weight: bold;
						text-decoration: none;
						transition: background 0.5s ease-in-out;

						&:hover {
							text-decoration: none;
							background-color: #2c2c2c;
						}
					}
					
					&__video {
						margin-left: 60px;
						color: #373737;
						text-decoration: none;
						transition: color 0.5s ease-in-out;

						&:hover {
							text-decoration: none;
							color: #fb3a3a;
						}
					}

					&__quizzes {
						margin-left: 30px;
						color: #373737;
						text-decoration: none;
						transition: color 0.5s ease-in-out;

						&:hover {
							text-decoration: none;
							color: #fb3a3a;
						}
					}

					&__notes {
						margin-left: 30px;
						color: #373737;
						text-decoration: none;
						transition: color 0.5s ease-in-out;

						&:hover {
							text-decoration: none;
							color: #fb3a3a;
						}
					}
				}
			}
		}
	}

	&-profile {
		float: right;
		margin-right: 80px;

		&-photo{
			display: inline-block;
			line-height: 48px;
			height: 48px;
			padding: 8px;
			vertical-align: top;
			cursor: pointer;

			&:after {
				content: '\25BC';
				color: #373737;
				display: inline-block;
				line-height: 48px;
				vertical-align: top;
				font-size: 12px;
				transition: color 0.5s ease-in-out;
			}

			&:hover {

				&:after {
					color: #fb3a3a;
				}
			}

			&.is-open {
				border-bottom: 1px solid #fff;
				border-left: 1px solid #e9e9e9;
				border-right: 1px solid #e9e9e9;
				margin-right: -1px;

				&:after {
					content: '\25B2';
				}
			}
		}
		
		&-nav {
			float: right;
			
			&__logout {
				display: inline-block;
				line-height: 64px;
				color: #acacac;
				vertical-align: top;
				margin-left: 40px;
				font-size: 18px;
				font-weight: bold;
				text-decoration: none;
				transition: color 0.5s ease-in-out;

				&:hover{
					text-decoration: none;
					color: #373737;
				}
			}

			&__login {
				line-height: 64px;
				color: #acacac;
				margin-left: 40px;
				font-size: 18px;
				font-weight: bold;
				text-decoration: none;
				transition: color 0.5s ease-in-out;

				&:hover{
					text-decoration: none;
					color: #373737;
				}
			}

			&__register {
				line-height: 64px;
				color: #acacac;
				margin-left: 40px;
				font-size: 18px;
				font-weight: bold;
				text-decoration: none;
				transition: color 0.5s ease-in-out;

				&:hover{
					text-decoration: none;
					color: #373737;
				}
			}
		}
	}
}
.login {
	margin: 130px auto;
	width: 400px;
	height: 500px;

&-logo {
					display: inline-block;
					line-height: 64px;
					vertical-align: middle;
					font-size: 14px;
					font-weight: bold;

					&__home {
						display: inline-block;
						color: #fff;
						text-align: center;
						background-color: #fd2828;
						height: 64px;
						width: 64px;
						font-size: 48px;
						font-weight: bold;
						text-decoration: none;
						transition: background 0.5s ease-in-out;

						&:hover {
							text-decoration: none;
							background-color: #000;
						}
					}
				}	
					&-page-header {
						display: inline-block;
						margin-left: 30px;
						color: #373737;
						font-size: 30px;
						font-family: sans-serif;
					}
	&-form {
		color: #373737;
		font-size: 20px;
		font-family: sans-serif;
		text-align: center;
		margin-left: 5px;
		&-control {
			width: 60%;
			border: 1px solid #cacaca;
			border-radius: 2px;
			font-size: 20px;
			padding: 5px;
			margin-bottom: 10px;
		}
	}

					
					
				
}			
.alert {
	font-size: 24px;
	color: red;
	margin-left: 100px;
	margin-top: 10px;
	&__message {
		font-weight: bold;
		font-family: sans-serif;
	}
}
.btn {
                background-color: #fb3a3a;
                color: white;
                font-family: ProximaNova;
                font-weight: bold;
                border: none;
                width: 140px;
                height: 42px;
                font-size: 18px;
                margin-top: 20px;
}
.notes {
	position: relative;
	width: 1280px;
	height: 880px;
	margin: 0 auto;

	&-header{
		padding: 100px 80px 50px;

		&__title {
			color: #2c2c2c;
			font-size: 3em;
			font-weight: bold;
		}
	}

	&-wrapper {
		width: 1154px;
		margin: 0 auto;
		overflow: hidden;
	}

	&-block {
		position: relative;
		float: left;
		width: 255px;
		height: 240px;
		margin: 0 16px 34px 17px;
		background: #fff;

		&__name {
			color: #5b5a5a;
			font-size: 20px;
			padding: 24px 42px 0 18px;
		}

		&__content {
			color: #5b5a5a;
			font-size: 16px;
			padding: 18px 42px 18px 18px;

		}

		&-info {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			padding: 12px 18px 12px 18px;
			border-top: 1px solid #f0eede;

			&__category {
				color: #b9bdbe;
				font-size: 16px;
			}
		
			&-controls {
				float: right;

				&__favourite {
					@extend .icon-favourite_false;
					display: inline-block;
					vertical-align: top;
					margin-left: 10px;
					cursor: pointer;

					&.is-true {
						@extend .icon-favourite_true;

						&:hover {
							@extend .icon-favourite_hover;
						}
					}

					&:hover {
						@extend .icon-favourite_hover;
					}
				}

				&__delete {
					@extend .icon-delete;
					display: inline-block;
					vertical-align: top;
					margin-left: 10px;
					cursor: pointer;

					&:hover {
						@extend .icon-delete_hover;
					}
				}
			}
		}	
	}

	&-button {
		clear: left;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		text-align: center;
		margin: 50px 80px;

		&__show-all {
			background: #fd2828;
			font-weight: bold;
			color: #fff;
			border: none;
			padding: 10px 20px;
			cursor: pointer;
			transition: background 0.5s ease-in-out;

			&:hover {
				background: #2c2c2c;
			}
		}
	}
}
.profile {
    width: 100%;
    min-width: 1280px;
    height: 640px;
    position: fixed;
    left: 0;
    right: 0;
    top: 64px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #e9e9e9;
    z-index: 1;
    
    &-info {
        position: relative;
        width: 1120px;
        height: 200px;
        margin: 56px auto 0;
        background-color: #f7f7f7;
        
        &-photo {
            float: left;
            width: 200px;
            height: 200px;
        }

        &-content {
            padding-left: 80px;
            overflow: hidden;

            &__name {
                color: #2c2c2c;
                font-size: 3em;
                font-weight: bold;
                padding: 20px 0 30px;
            }

            &-item {
                display: inline-block;
                padding: 0 20px;

                &__header {
                    margin: 0;
                    color: #c5c5c5;
                    font-size: 1.5em;
                    font-weight: bold;
                    padding-bottom: 10px;
                }

                &__value {
                    margin: 0;
                    color: #373737;
                    font-size: 1.5em;
                    font-weight: bold;
                }

                &:nth-child(2) {
                    padding-left: 0;
                    border-right: 1px solid #c5c5c5;
                }
            }
        }

        &-notes {
            position: absolute;
            right: 56px;
            bottom: 64px;

            &__link {
                color: #fff;
                background: #fd2828;
                border: none;
                font-weight: bold;
                padding: 10px 20px;
                transition: background 0.5s ease-in-out;

                &:hover {
                    background: #2c2c2c;
                }
            }
        }
    }

    &-additional {
        width: 1120px;
        margin: 0 auto;
        padding-top: 64px;

        &-actions {
            float: left;
            width: 520px;

            &__title {
                font-size: 1.5em;
                font-weight: bold;
                color: #2c2c2c;
            }

            &-content {
                margin-top: 36px;

                &-list {
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    &-item {
                        line-height: 58px;
                        margin-top: 3px;
                        font-size: 20px;
                        font-weight: bold;
                        padding-left: 20px;

                        &__date {
                            letter-spacing: 1px;
                            color: #a3aaac;
                        }

                        &__title {
                            color: #373737;
                        }

                        &.is-quiz {
                            background: #e8f1f2;
                        }

                        &.is-note {
                            background: #f4f3e7;
                        }
                    }
                }
            }
        }

        &-recommendations {
            float: right;
            width: 520px;

            &__title {
                font-size: 1.5em;
                font-weight: bold;
                color: #2c2c2c;
            }

            &-content {
                margin-top: 36px;

                &-list {
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    &-item {
                        line-height: 58px;
                        margin-top: 3px;
                        font-size: 20px;
                        font-weight: bold;
                        padding-left: 20px;
                        background: #f4f3e7;

                        &__date {
                            letter-spacing: 1px;
                            color: #a3aaac;
                        }

                        &__title {
                            color: #373737;
                        }

                        &.is-action {
                            background: #e8f1f2;
                        }
                    }
                }
            }
        }
    }
}
.quiz {
    width: 1280px;
    height: 880px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background: white;
    z-index: 0;

    &__title {
        position: absolute;
        top: 85px;
        left: 80px;
        font-size: 30px;
        font-family: Roboto;
        color: #fb3a3a;
        font-weight: bold;
    }

    &-block {
        height: 880px;
        width: 25600px;
        position: absolute;
        display: inline-block;
        overflow: hidden;

        &__intro {
            display: table-cell;
            width: 1280px;
            padding-right: 320px;
            font-size: 30px;
            font-family: Roboto;
            color: #2c2c2c;
            font-weight: bold;
            padding: 120px 0 0 80px;

            &_slide {
               transition: margin 0.5s cubic-bezier(1, 0, 0, 1);
            }
        }
            
        &-question {
            display: table-cell;
            font-size: 30px;
            font-family: Roboto;
            color: #2c2c2c;
            font-weight: bold;
            width: 1280px;
            height: 130px;
            padding: 120px 0 0 80px;

            &__title {
                transition: margin 0.5s cubic-bezier(1, 0, 0, 1);
                width: 1040px;
                padding-right: 320px;
            }
        }
            
                
        &-answer {
            overflow: hidden;
            padding: 0 0 0 240px;
            transition: margin 0.5s cubic-bezier(1, 0, 0, 1) 0.1s;
            
            &__intro {  
                display: table-cell;
                width: 800px;
                padding-right: 560px; 
                font-size: 20px;
                font-family: Roboto;
                padding-bottom: 10px;
                color: #373737;
            }
    
            &-form {
                display: table-cell;
                width: 1040px;
                padding-right: 320px;            
                    
                &-list {
                    list-style-type: none;

                    &-item {
                        font-size: 20px;
                        font-family: Roboto;
                        padding-bottom: 10px;
                        color: #373737;
                        list-style-type: none;
                            
                        &__title {
                            cursor: pointer;
                            
                            &:before {
                                @extend .icon-checkbox_not_checked;
                                content: "";
                                display: inline-block;
                                margin: 0 25px 0 0;
                                vertical-align: middle;
                            }
                        }
                    }    
                }    
            
                &-list-item__checkbox:checked + &-list-item__title:before {
                    @extend .icon-checkbox_checked;
                }
            }
        }
            
        &__submit {
            position: absolute;
            left: 640px;
            top: 600px;
            background-color: #fb3a3a;
            color: white;
            font-family: ProximaNova;
            font-weight: bold;
            border: none;
            width: 140px;
            height: 42px;
            font-size: 18px;
        }
    }

    &-counter {
        position: absolute;
        top: 250px;
        width: 200px;
        height: 300px;
        background-color: white;
        text-align: right;
        vertical-align: top;
    
        &-indicator {
            font-size: 60px;
            color: #b9bdbe;
            font-family: ProximaNova, sans-serif;
            font-weight: bold;
        }
    }
    
    &-back {
        position: absolute;
        right: 80px;
        top: 80px;
        
        &__title {
            font-size: 18px;
            font-family: ProximaNova, sans-serif;
            font-weight: bold;
            color: #b9bdbe;
            text-decoration: none;
            transition: color .5s ease-in-out;
            &:hover {
            color: #373737;

            }
        }    
    }
}
.quizzes {
	width: 1280px;
	height: 880px;
	margin: 0 auto;

	&-header {
		height: 50px;
		padding: 90px 80px 40px;

		&__title {
			float: left;
			width: 20%;
			font-size: 3em;
			font-weight: bold;
			color: #2c2c2c;
		}

		&-selector {
			margin-top: 9px;

			&-item {
				width: 20%;
				border: none;
				height: 30px;
				background: #2c2c2c;
				margin-left: 5%;
				color: #fff;
				padding-left: 10px;
				cursor: pointer;
			}
		}
	}

	&-selection {
		position: relative;
		height: 630px;

		&-table {
			width: 1120px;
			border-top: 1px solid #e0e2e2;
			border-spacing: 0;
			margin: 0 auto 34px;
			
			&-row {
				&-heading {
					&__title{
						color: #bec1c2;
						padding: 10px;
						text-align: center;
						cursor: default;
					}
				}

				&-content {
					cursor: pointer;

					&:nth-child(2n) {
						background: #e8f1f2;
					}

					&:hover {
						background: #d5e4e6;
					}

					&__title {
						color: #373737;
						padding: 10px;
						text-align: center;
						transition: color 0.5s ease-in-out;

						&:hover{
							color: #fb3a3a;
						}
					}	
				}
			}
		}
		&-pagination {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			margin: 0 auto;
			width: 1120px;
			text-align: center;

			ul {
				display: inline-block;
				margin: 0;
				padding: 0;
				border-radius: 4px;
				box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

				&>.disabled>a {
					color: #999;
					background-color: transparent;
					cursor: default;
				}

				&>.active>a {
					color: #999;
					cursor: default;
					background-color: #f5f5f5;
				}

				li {
					display: inline;
					line-height: 20px;

					a {
						padding: 4px 12px;
						line-height: 20px;
						text-decoration: none;
						background-color: #fff;
						border: 1px solid #ddd;
						border-left-width: 0;
						color: #08c;
						text-decoration: none;

						&:hover, &:focus {
							background-color: #f5f5f5;
						}
					}

					&:first-child>a {
						border-top-left-radius: 3px;
						border-bottom-left-radius: 3px;
						border: 1px solid #ddd;
					}

					&:last-child>a {
						border-top-right-radius: 3px;
						border-bottom-right-radius: 3px;
					}
				}
			}
		}
	}
}
.register {
	margin: 130px auto;
	width: 400px;
	height: 500px;

&-logo {
					display: inline-block;
					line-height: 64px;
					vertical-align: middle;
					font-size: 14px;
					font-weight: bold;

					&__home {
						display: inline-block;
						color: #fff;
						text-align: center;
						background-color: #fd2828;
						height: 64px;
						width: 64px;
						font-size: 48px;
						font-weight: bold;
						text-decoration: none;
						transition: background 0.5s ease-in-out;

						&:hover {
							text-decoration: none;
							background-color: #000;
						}
					}
				}	
					&-page-header {
						display: inline-block;
						margin-left: 30px;
						color: #373737;
						font-size: 30px;
						font-family: sans-serif;
					}
	&-form {
		color: #373737;
		font-size: 20px;
		font-family: sans-serif;
		text-align: center;
		margin-left: 5px;
		&-control {
			width: 60%;
			border: 1px solid #cacaca;
			border-radius: 2px;
			font-size: 20px;
			padding: 5px;
			margin-bottom: 10px;
		}
	}

					
					
				
}			

.finish {
	width: 1280px;
	height: 880px;
	margin: 0 auto;
	
	&-content {
		padding-top: 100px;
		width: 20%;
		text-align: center;
		margin: 0 auto;

		&-random {
			&__title {
				color: #fff;
				font-size: 18px;
				font-weight: bold;
				margin-bottom: 56px;
			}
		}

		&-summary {
			&__title {
				color: #fff;
				font-size: 18px;
				font-weight: bold;
				margin-bottom: 20px;
			}

			&__result {
				color: #fff;
				font-size: 36px;
				font-weight: bold;
				margin-bottom: 20px;
			}
		}		

		&-action {
			padding-top: 250px;

			&-call {
				&__title {
					color: #fff;
					font-size: 24px;
					font-weight: bold;
				}
			}

			&__link{
				text-decoration: none;
				display: inline-block;
				margin: 10px;
				padding: 5px 10px;
				color: #fd2828;
				background: transparent;
				font-size: 24px;
				font-weight: bold;
				transition: color 0.5s ease-in-out, background 0.5s ease-in-out;

				&:hover {
					text-decoration: none;
					color: #fff;
					background: #fb3a3a;
				}
			}
		}
	}
}
.video {
	width: 1280px;
	height: 880px;
	margin: 0 auto;
	
	&-content {
		padding-top: 300px;

		&__start {
			display: block;
			width: 100px;
			height: 100px;
			padding: 0 0 0 7px;
			margin: auto;
			text-align: center;
			border-radius: 100px;
			border: 5px solid #fff;
			font-size: 50px;
			color: #fff;
			background: transparent;
			cursor: pointer;
			transition: color 0.5s ease-in-out, border 0.5s ease-in-out;

			&:hover {
				color:#fb3a3a;
				border-color: #fb3a3a;
			}
		}

		&-description {
			width: 35%;
			margin: 30px auto 0;

			&__content {
				color: #fff;
				font-weight: bold;
				font-size: 24px;
				text-align: center;

				&.is-important {
					color: #fd2828;
					padding: 0 5px;
					background: transparent;
					cursor: pointer;
					transition: color 0.5s ease-in-out, background 0.5s ease-in-out;

					&:hover {
						color: #fff;
						background: #fb3a3a;
					}
				}
			}
		}
	}	
}