/* Fonts */
$proxima: 'Proxima Nova';
$roboto: 'Roboto';

/* Backgrounds */
$about-gradien-from: #b3c5cb;
$about-gradien-to: #cddcdf;
$quizzes-background: #fff;
$notes-background: #edebda;
$result-gradient-from: #26292c;
$result-gradient-to: #34383b;
$footer-background: #1c2124;

/* Login and Register */
$alert-text-color: #fb3a3a;
$text-color: #373737;
$logo-text: #fff;
$logo-background: #fd2828;
$logo-background-hover: #2c2c2c;
$submit-text: #fff;
$submit-background: #fd2828;
$submit-background-hover: #2c2c2c;
$go-text: #2c2c2c;
$go-text-hover: #fff;
$go-border-color: #fd2828;
$go-border-color-hover: #2c2c2c;
$go-background: #fff;
$go-background-hover: #2c2c2c;
$border-color: #b9bdbe;

/* Header */
$header-background: #fff;
$header-border-color: #e9e9e9;
$header-logo-text: #fff;
$header-logo-background: #fd2828;
$header-logo-background-hover: #2c2c2c;
$header-nav-text: #373737;
$header-nav-text-hover: #fb3a3a;
$header-log-text: #acacac;
$header-log-text-hover: #373737;

/* Profile */

/* About */

/* Video */

/* Quiz-list */

/* Quiz-single */

/* Notes-main */

/* Notes-list */

/* Footer */
$footer-text: #a1a1a1;