    /**
     * The dndDraggingSource class will be applied to
     * the source element of a drag operation. It makes
     * sense to hide it to give the user the feeling
     * that he's actually moving it.
     */
    ul[dnd-list] .dndDraggingSource {
        display: none;
    }

    /**
     * An element with .dndPlaceholder class will be
     * added to the dnd-list while the user is dragging
     * over it.
     */
    .dndPlaceholder {
        min-height: 36px;
        margin-bottom: 4px;
        background: transparent;
    }

    /**
     * Show selected elements in green
     */
    ul[dnd-list] li.selected {
        background-color: green;
        color: red;
    }