.notes {
	width: 1280px;
	height: 880px;
	margin: 0 auto;

	&-header{
		padding: 10% 10% 0;

		&__title {
			color: #2c2c2c;
			font-size: 24px;
			font-weight: bold;
		}
	}

	&-wrapper {
		margin: 5%;
		overflow: hidden;
	}

	&-block {
		float: left;
		width: 15%;
		margin: 0 2.5% 5%;
		padding: 5% 0 5% 5%;
		background: #fff;
	}

	&-button {
		clear: left;
		width: 120px;
		margin: 50px auto;

		&__show-all {
			background: #fd2828;
			font-weight: bold;
			color: #fff;
			border: none;
			padding: 10px 20px;
			cursor: pointer;
			transition: background 0.5s ease-in-out;

			&:hover {
				background: #2c2c2c;
			}
		}
	}
}