.quizzes {
	height:500px;

	&-header {
		height: 50px;
		margin: 30px 10%;

		&__title {
			float: left;
			width: 20%;
			font-size: 24px;
			font-weight: bold;
			color: #2c2c2c;
		}

		&-selector {
			&-item {
				width: 20%;
				border: none;
				height: 30px;
				background: #2c2c2c;
				margin-left: 5%;
				color: #fff;
				padding-left: 10px;
			}
		}
	}

	&-selection {
		&-table {
			border-top: 1px solid #e0e2e2;
			border-spacing: 0;
			width: 90%;
			margin: 0 auto 50px;
			
			&-row {
				&-heading {
					&__title{
						color: #bec1c2;
						padding: 10px;
						text-align: center;
						cursor: default;
					}
				}

				&-content {
					cursor: pointer;

					&:nth-child(2n) {
						background: #e8f1f2;
					}

					&:hover {
						background: #d5e4e6;
					}

					&__title {
						color: #373737;
						padding: 10px;
						text-align: center;
					}	
				}
			}
		}
	}
}