.register {
	margin: 130px auto;
	width: 400px;
	height: 500px;

&-logo {
					display: inline-block;
					line-height: 64px;
					vertical-align: middle;
					font-size: 14px;
					font-weight: bold;

					&__home {
						display: inline-block;
						color: #fff;
						text-align: center;
						background-color: #fd2828;
						height: 64px;
						width: 64px;
						font-size: 48px;
						font-weight: bold;
						text-decoration: none;
						transition: background 0.5s ease-in-out;

						&:hover {
							text-decoration: none;
							background-color: #000;
						}
					}
				}	
					&-page-header {
						display: inline-block;
						margin-left: 30px;
						color: #373737;
						font-size: 30px;
						font-family: sans-serif;
					}
	&-form {
		color: #373737;
		font-size: 20px;
		font-family: sans-serif;
		text-align: center;
		margin-left: 5px;
		&-control {
			width: 60%;
			border: 1px solid #cacaca;
			border-radius: 2px;
			font-size: 20px;
			padding: 5px;
			margin-bottom: 10px;
		}
	}

					
					
				
}			
