/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-checkbox_checked {
  background-image: url(../i/sprite.png);
  background-position: -32px -50px;
  width: 29px;
  height: 29px;
}
.icon-checkbox_not_checked {
  background-image: url(../i/sprite.png);
  background-position: -61px -50px;
  width: 29px;
  height: 29px;
}
.icon-delete {
  background-image: url(../i/sprite.png);
  background-position: -32px -106px;
  width: 16px;
  height: 16px;
}
.icon-delete_hover {
  background-image: url(../i/sprite.png);
  background-position: -16px -106px;
  width: 16px;
  height: 16px;
}
.icon-facebook {
  background-image: url(../i/sprite.png);
  background-position: -102px -48px;
  width: 24px;
  height: 24px;
}
.icon-facebook_hover {
  background-image: url(../i/sprite.png);
  background-position: 0px -82px;
  width: 24px;
  height: 24px;
}
.icon-favourite_false {
  background-image: url(../i/sprite.png);
  background-position: 0px -106px;
  width: 16px;
  height: 16px;
}
.icon-favourite_hover {
  background-image: url(../i/sprite.png);
  background-position: -86px -32px;
  width: 16px;
  height: 16px;
}
.icon-favourite_true {
  background-image: url(../i/sprite.png);
  background-position: -70px -32px;
  width: 16px;
  height: 16px;
}
.icon-googleplus {
  background-image: url(../i/sprite.png);
  background-position: -96px -82px;
  width: 24px;
  height: 24px;
}
.icon-googleplus_hover {
  background-image: url(../i/sprite.png);
  background-position: -24px -82px;
  width: 24px;
  height: 24px;
}
.icon-linkedin {
  background-image: url(../i/sprite.png);
  background-position: -48px -82px;
  width: 24px;
  height: 24px;
}
.icon-linkedin_hover {
  background-image: url(../i/sprite.png);
  background-position: -72px -82px;
  width: 24px;
  height: 24px;
}
.icon-logo {
  background-image: url(../i/sprite.png);
  background-position: 0px -25px;
  width: 70px;
  height: 25px;
}
.icon-logo_hover {
  background-image: url(../i/sprite.png);
  background-position: 0px 0px;
  width: 70px;
  height: 25px;
}
.icon-trash {
  background-image: url(../i/sprite.png);
  background-position: 0px -50px;
  width: 32px;
  height: 32px;
}
.icon-trash_hover {
  background-image: url(../i/sprite.png);
  background-position: -70px 0px;
  width: 32px;
  height: 32px;
}
.icon-twitter {
  background-image: url(../i/sprite.png);
  background-position: -102px 0px;
  width: 24px;
  height: 24px;
}
.icon-twitter_hover {
  background-image: url(../i/sprite.png);
  background-position: -102px -24px;
  width: 24px;
  height: 24px;
}
