<div class="register">
    <div class="register-logo"><a href="../#/" class="login-logo__home">E</a>

        <div class="register-page-header">Create an Account
        </div>
    </div>

    <div ng-show="AuthCtrl.error" class="alert alert-danger row">
        <span>{{ AuthCtrl.error.message }}</span>
    </div>

    <form ng-submit="AuthCtrl.register()"
          class="register-form">
        <h3>Register</h3>

        <div class="register-form-group">
            <input type="text"
                   class="register-form-control"
                   placeholder="Your name"
                   ng-model="AuthCtrl.user.name" autofocus required>
        </div>
        <div class="register-form-group">
            <input type="email"
                   class="register-form-control"
                   placeholder="Your email"
                   ng-model="AuthCtrl.user.email" required>
        </div>
        <div class="register-form-group">
            <input type="password"
                   class="register-form-control"
                   placeholder="Password"
                   ng-model="AuthCtrl.user.password" required>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
        <a href="#/login">
            <button class="btn btn-primary">Log in</button>
        </a>
    </form>
</div>