<div class="notes">
	<div class="notes-header">
		<span class="notes-header__title">Notes</span>
	</div>
	
	<div class="notes-wrapper">
		<div class="notes-block"
			 ng-repeat="note in NotesMainCtrl.notesSrv.notes  | limitTo:NotesMainCtrl.notesSrv.emptyNotesNum">
			<div class="notes-block__name">
				{{note.title}}
			</div>
			<div class="notes-block__content">
				{{note.text}}
			</div>
			<div class="notes-block-info">
				<span class="notes-block-info__category">{{note.tag}}</span>
				<div class="notes-block-info-controls">
					<span class="notes-block-info-controls__favourite"
							ng-click="NotesMainCtrl.toggleFavourite(note)"
							ng-class="{'is-true': note.favourite}"></span>
					<span class="notes-block-info-controls__delete"
						  ng-click="NotesMainCtrl.deleteNote(note)"></span>
				</div>
			</div>
		</div>
		<div class="notes-block is-empty"
			 ng-repeat="i in NotesMainCtrl.getRange(NotesMainCtrl.notesSrv.realNotesNum) track by $index"
				ng-click="NotesMainCtrl.switchToList()">
			<div class="notes-block-empty">
				<span class="notes-block-empty__icon"></span>
			</div>
		</div>
	</div>


	<div class="notes-button">
		<button ng-click="NotesMainCtrl.switchToList()" class="notes-button__show-all">VIEW ALL</button>
	</div>
</div>