<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>EverQuiz</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  
  
</head>
<body ng-app="everquizApp">
  <h1>EverQuiz</h1>
  <ul class="top-menu">
    <li><a href="#/users">Users</a></li>
    <li><a href="#/quizzes">Quizzes</a></li>
  </ul>
  <ui-view></ui-view>

  <script type="text/ng-template" id="/users.html">
    <div>
      {{test}}
    </div>
    <div ng-repeat="user in users">
      <i class="fa fa-trash-o" ng-click='removeUser(user)'></i>
      <i class="fa fa-wrench" ng-click='editUser(user)'></i>
      <a href="#/dashboard/{{user._id}}">
        {{user.name}}
      </a>
      - {{user.email}} 
      <small>createAt</small> {{user.createAt}}
      <span>
        <a href="#/dashboard/{{user._id}}">Notes</a>
      </span>
    </div>
    <form ng-submit="addUser()">
      <input type="text" placeholder="Name" ng-model="name"></input>
      <br>
      <input type="email" placeholder="Email" ng-model="email"></input>
      <br>
      <input type="password" placeholder="Password" ng-model="password"></input>
      <br>
      <input type="password" placeholder="Repeat password" ng-model="passwordRepeat"></input>
      <br>
      <button type="submit">Add User</button>
    </form>
  </script>

  <script type="text/ng-template" id="/dashboard.html">
    <h2>
      {{user.name}} - {{user.email}}
    </h2>
    <h3>
      Notes:
    </h3>
    <div ng-repeat="note in notes | orderBy:'-createAt'">
      <i class="fa fa-trash-o" ng-click='removeNote(note, user)'></i>
      <i class="fa fa-wrench" ng-click='editNote(note, user)'></i>
      {{note.title}} - createAt {{note.createAt}}
      <span style="font-size:20px; margin-left:10px;">
        {{note.text}}
      </span>
    </div>

    <!-- post template -->

    <form ng-submit="addNote()"
      style="margin-top:30px;">
      <h3>Add new note</h3>

      <input type="text"
      placeholder="Title"
      ng-model="title"></input><br/>
      <textarea ng-model="text"></textarea><br/>
      <button type="submit">New note</button>
    </form>
  </script>

  <script type="text/ng-template" id="/quizzes.html">
    <div ng-repeat="quiz in quizzes">
      <i class="fa fa-trash-o" ng-click='deactivateQuiz(quiz)'></i>
      <i class="fa fa-wrench" ng-click='editQuiz(quiz)'></i>
      <a href="#/quiz/{{quiz._id}}">
        {{quiz.title}}
      </a>
      - {{quiz.description}} 
      <small>createAt</small> {{quiz.createAt}}
      Status: {{getStatus(quiz.status)}}

    </div>

    <!-- post template -->

    <form ng-submit="addQuiz()"
      style="margin-top:30px;">
      <h3>Add new quiz</h3>

      <input type="text"
      placeholder="Title"
      ng-model="title"></input><br/>
      <textarea ng-model="description" placeholder="Description"></textarea><br/>
      <div ng-show="id">
        <label for="status"> Single select: </label><br>
        <select name="status" ng-model="status">
          <option value="0" >Unactive</option>
          <option value="1">Active</option>
        </select><br>
      </div>
      
      <button type="submit">New note</button>
    </form>
  </script>
  
  <script type="text/ng-template" id="/quiz.html">
    <h2>
      {{quiz.title}} - {{quiz.description}}
    </h2>
    <h3>
      Questions:
    </h3>
    <div ng-repeat="question in questions">
      <i class="fa fa-trash-o" ng-click='deactivateQuestion(question)'></i>
      <i class="fa fa-wrench" ng-click='editQuestion(question)'></i>
      <a href="#/quiz/{{quiz._id}}/question/{{question._id}}">
        {{question.text}}
      </a>
      -
      <small>createAt</small> {{question.createAt}}

    </div>

    <!-- post template -->

    <form ng-submit="addQuestion()"
      style="margin-top:30px;">
      <h3>Add new question</h3>

      <input type="text"
      placeholder="Text of question"
      ng-model="text"></input><br/>
      
      <button type="submit">New question</button>
    </form>
  </script>

  <script type="text/ng-template" id="/question.html">
    <h2>
      {{question.text}}
    </h2>
    <h3>
      Answers:
    </h3>
    <div ng-repeat="answer in answers">
      <i class="fa fa-trash-o" ng-click='deactivateAnswer(answer)'></i>
      <i class="fa fa-wrench" ng-click='editAnswer(answer)'></i>
      <a href="#/question/{{question._id}}/question/{{question._id}}">
        {{answer.text}}
      </a>
      - {{answer.correct}}
      <small>createAt</small> {{question.createAt}}

    </div>

    <!-- post template -->

    <form ng-submit="addQuestion()"
      style="margin-top:30px;">
      <h3>Add new question</h3>

      <input type="text"
      placeholder="Text of question"
      ng-model="text"></input><br/>
      
      <button type="submit">New question</button>
    </form>
  </script>

  <!-- External dependencies -->
  <script src="dist/js/angular.min.js"></script>
  <script src="dist/js/angular-ui-router.min.js"></script>

  <!-- Own JS files -->
  <script src="javascripts/angularApp.js"></script>
  <script src="javascripts/services/quizService.js"></script>
  <script src="javascripts/services/userService.js"></script>
  <script src="javascripts/services/noteService.js"></script>
  <script src="javascripts/services/questionService.js"></script>
  <script src="javascripts/services/answerService.js"></script>
  <script src="javascripts/controllers/mainController.js"></script>
  <script src="javascripts/controllers/quizzesController.js"></script>
  <script src="javascripts/controllers/quizController.js"></script>
  <script src="javascripts/controllers/userController.js"></script>
  <script src="javascripts/controllers/questionController.js"></script>
  <script src="javascripts/config/routes.js"></script>
</body>
</html>