<div>
  {{AdminUserCtrl.test}}
</div>
<div ng-repeat="user in AdminUsersCtrl.users">
  <i class="fa fa-wrench" ng-click='AdminUsersCtrl.editUser(user)'></i>
  <a href="#/dashboard/{{user._id}}">
    {{user.name}}
  </a>
  - 
  <a href="#/dashboard/{{user._id}}">
    {{user.email}}
  </a>
  <small>createAt</small> {{user.createAt}}
  | Notes: {{user.notes.length}}
  | Quizzes: 
<!--   <span>
    <a href="#/dashboard/{{user._id}}">Notes</a>
  </span> -->
</div>
<form ng-submit="AdminUsersCtrl.addUser()">
  <input type="text" placeholder="Name" ng-model="AdminUsersCtrl.user.name"></input>
  <br>
  <input type="email" placeholder="Email" ng-model="AdminUsersCtrl.user.email"></input>
  <br>
  <input type="password" placeholder="Password" ng-model="AdminUsersCtrl.user.password"></input>
  <br>
  <input type="password" placeholder="Repeat password" ng-model="AdminUsersCtrl.passwordRepeat"></input>
  <br>
  <button type="submit">Add User</button>
</form>
