
<div class="admin-header">
    <div class="admin-header__title">Answers</div>
</div>
<h3 class="center">{{QuestionCtrl.question.text}}</h3>

<form class="search">
  <h3>Search answer</h3>
    <input type="text" class="search-input" ng-model="QuestionCtrl.search" placeholder="Search"/>
    <button eq-modal class="admin-button-container">New answer</button>
</form>

<div class="admin-selection height-auto">
    <table class="admin-selection-table">
        <tr class="admin-selection-table-row-heading">
            <th class="admin-selection-table-row-heading__title">Text</th>
            <th class="admin-selection-table-row-heading__title">ID</th>
            <th class="admin-selection-table-row-heading__title">createAt</th>
            <th class="admin-selection-table-row-heading__title">Correct</th>
            <th class="admin-selection-table-row-heading__title">Actions</th>
        </tr>
        <tr class="admin-selection-table-row-content"
            ng-repeat="answer in QuestionCtrl.question.answers | filter : QuestionCtrl.search"
                ng-show="pageFilter($index)">
            <td class="admin-selection-table-row-content__title">{{answer.text}}</td>
            <td class="admin-selection-table-row-content__title">{{answer._id}}</td>
            <td class="admin-selection-table-row-content__title">{{answer.createAt}}</td>
            <td class="admin-selection-table-row-content__title">{{answer.correct}}</td>
            <td class="admin-selection-table-row-content__title"><i class="fa fa-trash-o" ng-click='QuestionCtrl.removeAnswer(answer)'></i><i eq-modal class="fa fa-wrench" ng-click='QuestionCtrl.editAnswer(answer)'></i></td>
        </tr>
    </table>
</div>

<eq-pagination limit="10" view-list="QuestionCtrl.question.answers"></eq-pagination>

<div class="modal-background is-hidden" id="modal">
  <div class="center-block absolute-center modal big">
    <form ng-submit="QuestionCtrl.addAnswer()" style="margin: 30px auto 0;" class="form-container" name="form">
      <div class="form-title"><h2>{{QuestionCtrl.formTitle}}</h2></div>

      <div class="form-title">Text</div>
      <textarea class="form-field" ng-model="QuestionCtrl.answer.text" ng-model-options="{ updateOn: 'submit' }" placeholder="Text" required></textarea><br/>

      <div class="form-title">Is correct?</div>
      <input name="correct" type="checkbox"
      ng-model="QuestionCtrl.answer.correct" ng-model-options="{ updateOn: 'submit' }"><br/>

      <div class="submit-container">
        <input eq-modal class="submit-button" type="reset" value="Cancel" ng-click='QuestionCtrl.resetTitle();' />
        <input eq-modal class="submit-button" type="submit" value="Submit" />
      </div>
    </form>
  </div>
</div>