<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EverQuiz</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/application.min.css"/>
  <link rel="stylesheet" href="css/ngDialog.css"/>
  <link rel="stylesheet" href="css/ngDialog-theme-default.css"/>
  <link rel="stylesheet" href="css/angular-chart.css">

  <!--[if lt IE 8]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
</head>

<body ng-app="everquizApp">
  <ui-view></ui-view>

  <!-- External dependencies -->
  <script src="js/vendors.min.js"></script>
  <script src="js/application.min.js"></script>
  <script data-require="angular-ui-bootstrap@0.3.0" data-semver="0.3.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.min.js"></script>
  
</body>
</html>