<!--<span ng-show="!profileCtrl.profile()">video</span>-->
<!--<span ng-show="profileCtrl.profile()">profile</span>-->
<!--<hr>-->
<div ng-show="!profileCtrl.isVisible()">video</div>
<div class="l-wrapper" ng-show="profileCtrl.isVisible()">
<div class="profile">
    <div class="profile-photo">
        <div class="profile-photo__image-outer">
            <img src="" alt="Image">
        </div>
    </div>
    <div class="profile-content">
        <h1 class="profile-content__name">{{profileCtrl.profile.name}}</h1>
        <div class="profile-content-item">
            <span class="profile-content-item__header">Total Passing:</span>
            <span class="profile-content-item__value">{{profileCtrl.profile.quizCompleted}}</span>
        </div>
        <div class="profile-content-item">
            <span class="profile-content-item__header">Average result:</span>
            <span class="profile-content-item__value">{{profileCtrl.profile.averageResult}}</span>
        </div>
    </div>
</div>
</div>
<hr>