<div class="sign">
    <div class="sign-logo">
        <a href="../#/" class="sign-logo__home">E</a>
        <div class="sign-header">Welcome back!</div>
    </div>

    <div ng-show="AuthCtrl.error" class="sign-alert">
        <span class="sign-alert__message">{{ AuthCtrl.error.message }}</span>
    </div>

    <form ng-submit="AuthCtrl.logIn()" class="sign-form">
        <h3>Log in</h3>

        <input type="email" class="sign-form-input" placeholder="Email" ng-model="AuthCtrl.user.email" autofocus required>

        <input type="password" class="sign-form-input" placeholder="Password" ng-model="AuthCtrl.user.password" required>

        <button class="sign-form-submit">LOG IN</button>
       
        <a class="sign-form-go" href="#/register">TO REGISTER</a>
    </form>

    <div class="sign-social">
    <p class="sign-social__text">or log in with</p>
    
    <a class="sign-social-google-link" href="/auth/google"><div class="sign-social-google"></div></a>
    
    <a class="sign-social-vk-link" href="/auth/vkontakte"><div class="sign-social-vk"></div></a>

    <a class="sign-social-epam-link" href="/auth/epam"><div class="sign-social-epam"></div></a>
    </div>

   

</div>
<div ng-hide="AuthCtrl.dataLoaded" class="preloader">
</div>
