<div class="sign">
    <div class="sign-logo">
        <a href="../#/" class="sign-logo__home">E</a>
        <div class="sign-header">Create an Account</div>
    </div>

    <div ng-show="AuthCtrl.error" class="sign-alert">
        <span class="sign-alert__message">{{ AuthCtrl.error.message }}</span>
    </div>

    <form ng-submit="AuthCtrl.register()" class="sign-form">
        <h3>Register</h3>

        <input type="text" class="sign-form-input" placeholder="Your name" ng-model="AuthCtrl.user.name" autofocus required>

        <input type="email" class="sign-form-input" placeholder="Your email" ng-model="AuthCtrl.user.email" required>

        <input type="password" class="sign-form-input" placeholder="Password" ng-model="AuthCtrl.user.password" required>

        <button type="submit" class="sign-form-submit">REGISTER</button>

        <a class="sign-form-go" href="#/login">TO LOG IN</a>
    </form>
    <div class="sign-social">
    <p class="sign-social__text">or log in with</p>
    <div class="sign-social-google">
    <a class="sign-social-google" href="/auth/google"></a>
    </div>
    </div>
</div>