<div class="profile" ng-show="ProfileCtrl.isVisible()">
     <div class="profile-info">
        <div class="profile-info-photo">
            <div class="profile-info-photo__image-outer">
                <img class="profile-info-photo__image" src="i/profile-avatar.jpg" alt="Image">
            </div>
        </div>

        <div class="profile-info-content">
            <header class="profile-info-content__name">{{ProfileCtrl.profile.name}}</header>
            <div class="profile-info-content-item">
                <p class="profile-info-content-item__header">Total passing</p>
                <p class="profile-info-content-item__value">{{ProfileCtrl.profile.quizCompleted}}</p>
            </div>
            <div class="profile-info-content-item">
                <p class="profile-info-content-item__header">Average result</p>
                <p class="profile-info-content-item__value">{{ProfileCtrl.profile.averageResult}}</p>
            </div>
        </div>

        <div class="profile-info-chart">
            <button class="profile-info-chart__link" ng-click="ProfileCtrl.clickToOpen()"></button>
        </div>

        <div class="profile-info-notes">
            <button class="profile-info-notes__link" ng-click="ProfileCtrl.hideProfile(); ProfileCtrl.goToElement('notes')">GO TO MY NOTES</button>
        </div>
     </div>   
        
    <div class="profile-additional">
        <div class="profile-additional-actions">
            <header class="profile-additional-actions__title">LAST ACTIONS</header>
            <div class="profile-additional-actions-content">
                <ul class="profile-additional-actions-content-list">
                    <li class="profile-additional-actions-content-list-item"
                        ng-class="{'is-note': action.type === 'note',
                                   'is-quiz': action.type === 'quiz'}"
                        ng-repeat="action in ProfileCtrl.profile.lastActions">
                        <span class="profile-additional-actions-content-list-item__date">
                            {{action.createdAt | date:'dd/MM/yyyy'}}        
                        </span>
                        <span class="profile-additional-actions-content-list-item__title" ng-if="action.type === 'quiz'">
                            You have passed {{action.title}} quiz by {{action.result}}%
                        </span>
                        <span class="profile-additional-actions-content-list-item__title" ng-if="action.type === 'note'">
                            You have created new note: {{action.title}}
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="profile-additional-achievements">
            <header class="profile-additional-achievements__title">ACHIEVEMENTS</header>
            <div class="profile-additional-achievements-content">
                <ul class="profile-additional-achievements-content-list">
                    <li class="profile-additional-achievements-content-list-item" ng-repeat="achievement in ProfileCtrl.profile.achievements">
                        <span   class="profile-additional-achievements-content-list-item__image"
                                ng-class="{'is-first-note': achievement.description === 'You have created your first note!',
                                           'is-first-quiz': achievement.description === 'Congratulation on passing your first quiz!',
                                           'is-completed-quiz': achievement.description === 'It\'s awesome! You have completly finished quiz!',
                                           'is-welcome': achievement.description === 'Welcome to our awesome service!'}"
                                title="{{achievement.description}}">
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>