<div class="quiz-list-header">
    <div class="quiz-list-header__title">Quizzes</div>
</div>

<form class="search">
  <h3>Search quiz</h3>
  <input type="text" class="search-input" ng-model="QuizzesCtrl.search" placeholder="Search"/>
</form>

<div class="quiz-list-selection height-auto">
    <table class="quiz-list-selection-table">
        <tr class="quiz-list-selection-table-row-heading">
            <th class="quiz-list-selection-table-row-heading__title">ID</th>
            <th class="quiz-list-selection-table-row-heading__title">Category</th>
            <th class="quiz-list-selection-table-row-heading__title">Name</th>
            <th class="quiz-list-selection-table-row-heading__title">Description</th>
            <th class="quiz-list-selection-table-row-heading__title">createAt</th>
            <th class="quiz-list-selection-table-row-heading__title">Status</th>
            <th class="quiz-list-selection-table-row-heading__title">Complexity</th>
            <th class="quiz-list-selection-table-row-heading__title">Total questions</th>
            <th class="quiz-list-selection-table-row-heading__title">Actions</th>
        </tr>
        <tr class="quiz-list-selection-table-row-content" ng-repeat="quiz in QuizzesCtrl.quizzes | filter : QuizzesCtrl.search">
            <td class="quiz-list-selection-table-row-content__title">{{$index}}</td>
            <td class="quiz-list-selection-table-row-content__title">{{quiz.category.title}}</td>
            <td class="quiz-list-selection-table-row-content__title"  ui-sref="admin.quiz({ id: quiz._id})">{{quiz.title}}</td>
            <td class="quiz-list-selection-table-row-content__title">{{quiz.description | limitTo:20 }}{{quiz.description.length > 20 ? '...' : ''}}</td>
            <td class="quiz-list-selection-table-row-content__title">{{quiz.createAt | date:'dd/MM/yyyy'}}</td>
            <td class="quiz-list-selection-table-row-content__title">{{QuizzesCtrl.getStatus(quiz.status)}}</td>
            <td class="quiz-list-selection-table-row-content__title">{{QuizzesCtrl.getComplexity(quiz.complexity)}}</td>
            <td class="quiz-list-selection-table-row-content__title">{{quiz.questions.length}}</td>
            <td class="quiz-list-selection-table-row-content__title"><i class="fa fa-trash-o" ng-click='QuizzesCtrl.deactivateQuiz(quiz)'></i>  <i class="fa fa-play" ng-click='QuizzesCtrl.activateQuiz(quiz)'></i>  <i class="fa fa-wrench" ng-click='QuizzesCtrl.editQuiz(quiz)'></i></td>
        </tr>
    </table>
    <button ng-click="QuizzesCtrl.modalToggle()"}>New quiz</button>
</div>

<div class="modal-background is-hidden" id="modal">
  <div class="center-block absolute-center modal big">
    <form ng-submit="QuizzesCtrl.addQuiz()" style="margin: 30px auto 0;" class="form-container">
      <div class="form-title"><h2>{{QuizzesCtrl.formTitle}}</h2></div>

      <div class="form-title">Category:</div>
      <select class="form-field" name="category" ng-model="QuizzesCtrl.quiz.category"  ng-model-options="{ updateOn: 'submit' }" ng-options="o as o.title for o in QuizzesCtrl.categories"></select>

      <div class="form-title">Title</div>
      <input class="form-field" type="text" placeholder="Title" ng-model="QuizzesCtrl.quiz.title" ng-model-options="{ updateOn: 'submit' }"><br/>

      <div class="form-title">Description</div>
      <textarea class="form-field" ng-model="QuizzesCtrl.quiz.description" ng-model-options="{ updateOn: 'submit' }" placeholder="Description"></textarea><br/>

      <div class="form-title">Complexity</div>
      <select class="form-field" name="complexity" ng-model="QuizzesCtrl.quiz.complexity" ng-model-options="{ updateOn: 'submit' }" ng-options="o._id as o.title for o in QuizzesCtrl.difficulties">
      </select><br>

      <div ng-show="QuizzesCtrl.quiz._id">
        <div class="form-title">Status</div>
        <select class="form-field" name="status" ng-model="QuizzesCtrl.quiz.status" ng-model-options="{ updateOn: 'submit' }" ng-options="o.id as o.title for o in QuizzesCtrl.statuses">
        </select><br>
      </div>


      <div class="submit-container">
        <input class="submit-button" type="reset" value="Cancel" ng-click='QuizzesCtrl.resetTitle();QuizzesCtrl.clickToOpen();'/>
        <input class="submit-button" type="submit" value="Submit" />
    </form>
  </div>
</div>