.quiz {
    width: 1280px;
    height: 880px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background: white;
    z-index: 0;

    &__title {
        position: absolute;
        top: 85px;
        left: 80px;
        font-size: 30px;
        font-family: $roboto;
        color: #fb3a3a;
        font-weight: bold;
    }

    &-block {
        height: 880px;
        width: 25600px;
        position: absolute;
        display: inline-block;
        overflow: hidden;

        &__intro {
            display: table-cell;
            width: 1280px;
            padding-right: 320px;
            font-size: 30px;
            font-family: $roboto;
            color: #2c2c2c;
            font-weight: bold;
            padding: 120px 0 0 80px;

            &_slide {
               transition: margin 0.5s cubic-bezier(1, 0, 0, 1);
            }
        }

        &-question {
            display: table-cell;
            font-size: 14px;
            font-family: $roboto;
            color: #2c2c2c;
            font-weight: bold;
            width: 1280px;
            height: 130px;
            padding: 120px 0 0 80px;

            &__title {
                transition: margin 0.5s cubic-bezier(1, 0, 0, 1);
                // width: 1040px;
                width: 45%; // VN
                padding-right: 320px;
            }

            &__text {
                white-space: pre-wrap; // VN
            }
        }
            
                
        &-answer {
            overflow: hidden;
            padding: 0 0 0 240px;
            transition: margin 0.5s cubic-bezier(1, 0, 0, 1) 0.1s;
            // margin-top: -9pc; // VN
            position: absolute;
            top: 16%;
            
            &__intro {  
                display: table-cell;
                // width: 800px;
                width: 54pc; // VN
                // padding-right: 560px; 
                padding-right: 55pc; // VN
                font-size: 20px;
                font-family: $roboto;
                padding-bottom: 10px;
                color: #373737;
            }
    
            &-form {
                display: table-cell;
                // width: 1040px;
                // padding-right: 320px;            
                width: 34pc; // VN
                padding-right: 52pc; // VN
                &-list {
                    list-style-type: none;

                    &-item {
                        font-size: 20px;
                        font-family: $roboto;
                        padding-bottom: 10px;
                        color: #373737;
                        list-style-type: none;
                            
                        &__title {
                            cursor: pointer;
                            
                            &:before {
                                @extend .icon-checkbox_not_checked;
                                content: "";
                                display: inline-block;
                                margin: 0 25px 0 0;
                                vertical-align: middle;
                            }
                        }
                    }    
                }    
            
                &-list-item__checkbox:checked + &-list-item__title:before {
                    @extend .icon-checkbox_checked;
                }
            }
        }
            
        &__submit {
            position: absolute;
            left: 640px;
            top: 600px;
            background-color: #fb3a3a;
            color: white;
            font-family: $proxima;
            font-weight: bold;
            border: none;
            width: 140px;
            height: 42px;
            font-size: 18px;
        }
    }

    &-counter {
        position: absolute;
        // top: 250px;
        // width: 200px;
        // height: 300px;
        width: auto; // VN
        height: auto; // VN
        bottom: 250px; // VN
        right: 100px; // VN
        background-color: white;
        text-align: right;
        vertical-align: top;
    
        &-indicator {
            font-size: 60px;
            color: #b9bdbe;
            font-family: $proxima, sans-serif;
            font-weight: bold;
        }
    }
    
    &-back {
        position: absolute;
        right: 80px;
        top: 80px;
        
        &__title {
            font-size: 18px;
            font-family: $proxima, sans-serif;
            font-weight: bold;
            color: #b9bdbe;
            text-decoration: none;
            transition: color .5s ease-in-out;
            &:hover {
            color: #373737;

            }
        }    
    }
}