.quiz {
	&__title {
		font-size: 30px;
		font-family: Roboto, sans-serif;
		color: red;
		font-weight: bold;
		margin: 0 0 150px 150px;

	}
	&-question-block{
		
		width: 100%;
		
	&-question {
		display: table-cell;
		padding-left: 150px;
		margin-right: 1280px;
		font-size: 30px;
		font-family: Roboro, sans-serif;
		color: #2c2c2c;
		font-weight: bold;
		
	}
	&-answers-list-item {
				list-style-type: none;
				font-size: 20px;
				font-family: Roboro, sans-serif;
				color: #2c2c2c;
			}
		
	
}
&-back {
	
	padding-top: 100px;
	padding-right: 50px;

}
&-counter {
	
	display: inline-block;
	
	&-indicator {
		font-size: 60px;
		color: #b9bdbe;
		font-family: ProximaNova, sans-serif;
		font-weight: bold;
	}
}
}


