.profile {
    width: 100%;
    min-width: 1280px;
    height: 640px;
    position: fixed;
    left: 0;
    right: 0;
    top: 64px;
    margin: 0 auto;
    background: $profile-background;
    border: 1px solid $profile-border-color;
    z-index: 1;
    
    &-info {
        position: relative;
        width: 1120px;
        height: 200px;
        margin: 56px auto 0;
        background-color: $profile-info-background;
        
        &-photo {
            float: left;
            width: 200px;
            height: 200px;
        }

        &-content {
            padding-left: 80px;
            overflow: hidden;

            &__name {
                color: $profile-name-text;
                font-size: 3em;
                font-weight: bold;
                padding: 20px 0 30px;
            }

            &-item {
                display: inline-block;
                padding: 0 20px;

                &__header {
                    margin: 0;
                    color: $profile-info-text;
                    font-size: 1.5em;
                    font-weight: bold;
                    padding-bottom: 10px;
                }

                &__value {
                    margin: 0;
                    color: $profile-value-text;
                    font-size: 1.5em;
                    font-weight: bold;
                }

                &:nth-child(2) {
                    padding-left: 0;
                    border-right: 1px solid $profile-info-separator;
                }
            }
        }

        &-chart {
            position: absolute;
            right: 100px;
            top: 18px;

            &__link {
                @extend .icon-chart;
                border: none;
                background-color: transparent;
                display: inline-block;
                vertical-align: middle;
                cursor: pointer;

                &:hover {
                    @extend .icon-chart_hover;
                }
            } 
        }

        &-notes {
            position: absolute;
            right: 56px;
            bottom: 64px;

            &__link {
                color: $profile-button-text;
                background: $profile-button-color;
                border: none;
                font-weight: bold;
                padding: 10px 20px;
                transition: background 0.5s ease-in-out;

                &:hover {
                    background: $profile-button-color-hover;
                }
            }
        }
    }

    &-additional {
        width: 1120px;
        margin: 0 auto;
        padding-top: 64px;

        &-actions {
            float: left;
            width: 520px;

            &__title {
                font-size: 1.5em;
                font-weight: bold;
                color: $profile-additional-header-text;
            }

            &-content {
                margin-top: 36px;

                &-list {
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    &-item {
                        line-height: 58px;
                        margin-top: 3px;
                        font-size: 20px;
                        font-weight: bold;
                        padding: 0 15px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;

                        &__date {
                            letter-spacing: 1px;
                            color: $profile-additional-date-text;
                        }

                        &__title {
                            color: $profile-additional-text;
                        }

                        &.is-quiz {
                            background: $profile-additional-quiz-background;
                        }

                        &.is-note {
                            background: $profile-additional-note-background;
                        }
                    }
                }
            }
        }

        &-recommendations {
            float: right;
            width: 520px;

            &__title {
                font-size: 1.5em;
                font-weight: bold;
                color: $profile-additional-header-text;
            }

            &-content {
                margin-top: 36px;

                &-list {
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    &-item {
                        line-height: 58px;
                        margin-top: 3px;
                        font-size: 20px;
                        font-weight: bold;
                        padding: 0 15px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        background: $profile-additional-recomendation-background;
                        display: inline-block;
                        padding-top: 20px;

                        &__date {
                            letter-spacing: 1px;
                            color: $profile-additional-date-text;
                        }

                        &__title {
                            color: $profile-additional-text;
                        }
                    }
                }
            }
        }
    }
}