.quiz-list {
	width: 1280px;
	min-height: 400px;
	margin: 0 auto;

	&-header {
		height: 50px;
		padding: 90px 80px 40px;

		&__title {
			float: left;
			width: 20%;
			font-size: 3em;
			font-weight: bold;
			color: $quiz-list-title;
		}

		&-selector {
			overflow: hidden;
			padding-left: 5%;
			margin-top: 10px;
			text-align: center;

			&-item {
				width: 25%;
				border: 1px solid $quiz-list-selector-border;
				height: 33px;
				background: $quiz-list-selector-background;
				margin-right: 8%;
				color: $quiz-list-selector-text;
				padding-left: 10px;
				font-size: 18px;
				font-weight: bold;
				cursor: pointer;
			}
		}
	}

	&-selection {
		position: relative;
		max-height: 560px;

		&-table {
			width: 1120px;
			border-top: 1px solid $quiz-list-table;
			border-spacing: 0;
			margin: 0 auto 25px;
			
			&-row {
				&-heading {
					&__category {
						width: 15%;
						color: $quiz-list-table-row-heading-title;
						padding: 10px;
						text-align: center;
						cursor: default;
					}

					&__name {
						width: 25%;
						color: $quiz-list-table-row-heading-title;
						padding: 10px;
						text-align: center;
						cursor: default;
					}

					&__difficulty {
						width: 15%;
						color: $quiz-list-table-row-heading-title;
						padding: 10px;
						text-align: center;
						cursor: default;
					}

					&__avarage {
						width: 15%;
						color: $quiz-list-table-row-heading-title;
						padding: 10px;
						text-align: center;
						cursor: default;
					}

					&__best {
						width: 15%;
						color: $quiz-list-table-row-heading-title;
						padding: 10px;
						text-align: center;
						cursor: default;
					}

					&__total{
						width: 15%;
						color: $quiz-list-table-row-heading-title;
						padding: 10px;
						text-align: center;
						cursor: default;
					}
				}

				&-content {
					cursor: pointer;

					&:nth-child(2n) {
						background:  $quiz-list-table-row-background;
					}

					&:hover {
						background: $quiz-list-table-row-background-hover;
					}
					
					&__category {
						width: 15%;
						color: $quiz-list-table-row-title;
						padding: 10px;
						text-align: center;
						transition: color 0.5s ease-in-out;

						&:hover{
							color: $quiz-list-table-row-title-hover;
						}
					}

					&__name {
						width: 25%;
						color: $quiz-list-table-row-title;
						padding: 10px;
						text-align: center;
						transition: color 0.5s ease-in-out;

						&:hover{
							color: $quiz-list-table-row-title-hover;
						}
					}

					&__difficulty {
						width: 15%;
						color: $quiz-list-table-row-title;
						padding: 10px;
						text-align: center;
						transition: color 0.5s ease-in-out;

						&:hover{
							color: $quiz-list-table-row-title-hover;
						}
					}

					&__avarage {
						width: 15%;
						color: $quiz-list-table-row-title;
						padding: 10px;
						text-align: center;
						transition: color 0.5s ease-in-out;

						&:hover{
							color: $quiz-list-table-row-title-hover;
						}
					}

					&__best {
						width: 15%;
						color: $quiz-list-table-row-title;
						padding: 10px;
						text-align: center;
						transition: color 0.5s ease-in-out;

						&:hover{
							color: $quiz-list-table-row-title-hover;
						}
					}

					&__total{
						width: 15%;
						color: $quiz-list-table-row-title;
						padding: 10px;
						text-align: center;
						transition: color 0.5s ease-in-out;

						&:hover{
							color: $quiz-list-table-row-title-hover;
						}
					}	
				}
			}
		}
	}
}