.quiz-list {
	width: 1280px;
	height: 880px;
	margin: 0 auto;

	&-header {
		height: 50px;
		padding: 90px 80px 40px;

		&__title {
			float: left;
			width: 20%;
			font-size: 3em;
			font-weight: bold;
			color: $quiz-list-title;
		}

		&-selector {
			overflow: hidden;
			padding-left: 5%;
			margin-top: 10px;
			text-align: center;

			&-item {
				width: 25%;
				border: none;
				height: 33px;
				background: $quiz-list-selector-background;
				margin-right: 8%;
				color: $quiz-list-selector-text;
				padding-left: 10px;
				font-size: 18px;
				font-weight: bold;
				cursor: pointer;
			}
		}
	}

	&-selection {
		position: relative;
		height: 630px;

		&-table {
			width: 1120px;
			border-top: 1px solid $quiz-list-table;
			border-spacing: 0;
			margin: 0 auto 34px;
			
			&-row {
				&-heading {
					&__category {
						width: 15%;
						color: $quiz-list-table-row-heading-title;
						padding: 10px;
						text-align: center;
						cursor: default;
					}

					&__name {
						width: 25%;
						color: $quiz-list-table-row-heading-title;
						padding: 10px;
						text-align: center;
						cursor: default;
					}

					&__difficulty {
						width: 15%;
						color: $quiz-list-table-row-heading-title;
						padding: 10px;
						text-align: center;
						cursor: default;
					}

					&__avarage {
						width: 15%;
						color: $quiz-list-table-row-heading-title;
						padding: 10px;
						text-align: center;
						cursor: default;
					}

					&__best {
						width: 15%;
						color: $quiz-list-table-row-heading-title;
						padding: 10px;
						text-align: center;
						cursor: default;
					}

					&__total{
						width: 15%;
						color: $quiz-list-table-row-heading-title;
						padding: 10px;
						text-align: center;
						cursor: default;
					}
				}

				&-content {
					cursor: pointer;

					&:nth-child(2n) {
						background:  $quiz-list-table-row-background;
					}

					&:hover {
						background: $quiz-list-table-row-background-hover;
					}
					
					&__category {
						width: 15%;
						color: $quiz-list-table-row-title;
						padding: 10px;
						text-align: center;
						transition: color 0.5s ease-in-out;

						&:hover{
							color: $quiz-list-table-row-title-hover;
						}
					}

					&__name {
						width: 25%;
						color: $quiz-list-table-row-title;
						padding: 10px;
						text-align: center;
						transition: color 0.5s ease-in-out;

						&:hover{
							color: $quiz-list-table-row-title-hover;
						}
					}

					&__difficulty {
						width: 15%;
						color: $quiz-list-table-row-title;
						padding: 10px;
						text-align: center;
						transition: color 0.5s ease-in-out;

						&:hover{
							color: $quiz-list-table-row-title-hover;
						}
					}

					&__avarage {
						width: 15%;
						color: $quiz-list-table-row-title;
						padding: 10px;
						text-align: center;
						transition: color 0.5s ease-in-out;

						&:hover{
							color: $quiz-list-table-row-title-hover;
						}
					}

					&__best {
						width: 15%;
						color: $quiz-list-table-row-title;
						padding: 10px;
						text-align: center;
						transition: color 0.5s ease-in-out;

						&:hover{
							color: $quiz-list-table-row-title-hover;
						}
					}

					&__total{
						width: 15%;
						color: $quiz-list-table-row-title;
						padding: 10px;
						text-align: center;
						transition: color 0.5s ease-in-out;

						&:hover{
							color: $quiz-list-table-row-title-hover;
						}
					}	
				}
			}
		}
		&-pagination {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			margin: 0 auto;
			width: 1120px;
			text-align: center;

			ul {
				display: inline-block;
				margin: 0;
				padding: 0;
				border-radius: 4px;
				box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

				&>.disabled>a {
					color: $quiz-list-pagination;
					background-color: transparent;
					cursor: default;
				}

				&>.active>a {
					color: $quiz-list-pagination;
					cursor: default;
					background-color: $quiz-list-pagination-active-background;
				}

				li {
					display: inline;
					line-height: 20px;

					a {
						padding: 4px 12px;
						line-height: 20px;
						text-decoration: none;
						background-color: $quiz-list-pagination-background;
						border: 1px solid #ddd;
						border-left-width: 0;
						color: #08c;
						text-decoration: none;

						&:hover, &:focus {
							background-color: #f5f5f5;
						}
					}

					&:first-child>a {
						border-top-left-radius: 3px;
						border-bottom-left-radius: 3px;
						border: 1px solid #ddd;
					}

					&:last-child>a {
						border-top-right-radius: 3px;
						border-bottom-right-radius: 3px;
					}
				}
			}
		}
	}
}