.finish {
	width: 1280px;
	height: 880px;
	margin: 0 auto;
	
	&-content {
		padding-top: 100px;
		width: 20%;
		text-align: center;
		margin: 0 auto;

		&-random {
			&__title {
				color: #fff;
				font-size: 18px;
				font-weight: bold;
				margin-bottom: 56px;
			}
		}

		&-summary {
			&__title {
				color: #fff;
				font-size: 18px;
				font-weight: bold;
				margin-bottom: 20px;
			}

			&__result {
				color: #fff;
				font-size: 36px;
				font-weight: bold;
				margin-bottom: 20px;
			}
		}		

		&-action {
			padding-top: 250px;

			&-call {
				&__title {
					color: #fff;
					font-size: 24px;
					font-weight: bold;
				}
			}

			&__link{
				text-decoration: none;
				display: inline-block;
				margin: 10px;
				padding: 5px 10px;
				color: #fd2828;
				background: transparent;
				font-size: 24px;
				font-weight: bold;
				transition: color 0.5s ease-in-out, background 0.5s ease-in-out;

				&:hover {
					text-decoration: none;
					color: #fff;
					background: #fb3a3a;
				}
			}
		}
	}
}