/* Font faces*/
@font-face {
	font-family: 'Proxima Nova';
    src: url(../font/proximanova.otf);
}

@font-face {
    font-family: Roboto; 
    src: url(../font/Roboto.ttf); 
}

/*Styles*/
body {
    margin: 0;
    font-family: $proxima;
    min-width: 1280px;

    &::-webkit-scrollbar {
      display: none;
    }
}

.about-view-wrapper {
	width: 100%;
	background: url(../i/about-snoop.png) no-repeat 0% 100%, url(../i/about-steave.png) no-repeat 100% 100%, linear-gradient(to bottom, $about-gradien-from, $about-gradien-to);
}

.admin-button-container {
   background: #fd2828;
   border: none;
   display: block;
   padding: 10px 20px;
   margin: 0 auto 10px;
   color: #fff;
   cursor: pointer;
   font-weight: 700;
   transition: background .5s ease-in-out;
}

.video-view-wrapper {
	width: 100%;
	background: url(../i/video-linus.png) no-repeat 55% 50%, radial-gradient(at center, #d9dad9, #727a7f);
  background-size: contain;
}

.quizzes-view-wrapper {
	width: 100%;
	background: $quizzes-background;
}

.notes-view-wrapper {
	width: 100%;
	background: $notes-background url(../i/note-dollar.png) no-repeat 100% -25%;
}

.result-view-wrapper {
	background: url(../i/snoop-dogg-logo.png) no-repeat 50% 90%, url(../i/bullet-far.png) no-repeat 95% 0%, url(../i/revolvers.png) no-repeat 50% -50%, url(../i/bullet-close.png) no-repeat 0% 0%, linear-gradient(to bottom, $result-gradient-from, $result-gradient-to);
}

.footer-wrapper {
	width: 100%;
	background: $footer-background;
}

@keyframes preloader-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.preloader {
    background: rgba( 0, 0, 0, 0.4);
    position: fixed;
    opacity: 0.8;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;

    &:after {
      content: '';
      @extend .icon-preloader;
      animation: preloader-rotate 1.5s linear infinite;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto; 
      z-index: 101;   
    }
}

.center-block.absolute-center.modal.big {
  height: 100%;
}