/* Font faces*/

@font-face {
	font-family: 'Proxima Nova';
    src: url(../font/proximanova.otf);
}

@font-face {
    font-family: Roboto; 
    src: url(../fonts/Roboto.ttf); 
}

/*Styles*/

body {
    margin: 0;
    font-family: $proxima;
    min-width: 1280px;

    &::-webkit-scrollbar {
      display: none;
    }
}

.about-view-wrapper {
	width: 100%;
	background: url(../i/about-dog.png) no-repeat 0% 100%, url(../i/about-snoop.png) no-repeat 100% 100%, linear-gradient(to bottom, $about-gradien-from, $about-gradien-to);
}

.video-view-wrapper {
	width: 100%;
	background: url(../i/video-snoop.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.quizzes-view-wrapper {
	width: 100%;
	background: $quizzes-background;
}

.notes-view-wrapper {
	width: 100%;
	background: $notes-background url(../i/note-dollar.png) no-repeat 100% -25%;
}

.result-view-wrapper {
	background: url(../i/snoop-dogg-logo.png) no-repeat 50% 90%, url(../i/bullet-far.png) no-repeat 95% 0%, url(../i/revolvers.png) no-repeat 50% -50%, url(../i/bullet-close.png) no-repeat 0% 0%, linear-gradient(to bottom, $result-gradient-from, $result-gradient-to);
}

.footer-wrapper {
	width: 100%;
	background: $footer-background;
}

/* Admin panel */
.form-container {
   border: 1px solid #f2e3d2;
   background: #c9b7a2;
   background: linear-gradient(top, #f2e3d2, #c9b7a2);
   border-radius: 8px;
   box-shadow: rgba(0,0,0,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0 0;
   font-family: 'Helvetica Neue',Helvetica,sans-serif;
   text-decoration: none;
   vertical-align: middle;
   min-width:300px;
   padding:20px;
   width:300px;
}

.search {
  text-align: center;
}

.search-input {
   width: 60%;
   border: 1px solid #cacaca;
   border-radius: 2px;
   font-size: 20px;
   padding: 5px;
   margin-bottom: 10px;
}

.form-field {
   border: 1px solid #c9b7a2;
   background: #e4d5c3;
   border-radius: 4px;
   color: #1c1916;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(0,0,0,0.7) 0 0 0;
   padding:8px;
   margin-bottom:20px;
   width:280px;
}

.form-field:focus {
   background: #fff;
   color: #725129;
}
.form-container h2 {
   text-shadow: #fdf2e4 0 1px 0;
   font-size:18px;
   margin: 0 0 10px 0;
   font-weight:bold;
   text-align:center;
}

.form-title {
   margin-bottom:10px;
   color: #725129;
   text-shadow: #fdf2e4 0 1px 0;
}

.submit-container {
   margin:8px 0;
   text-align:right;
}

.submit-button {
   border: 1px solid #447314;
   background: #6aa436;
   background: linear-gradient(top, #8dc059, #6aa436);
   border-radius: 4px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #addc7e 0 1px 0;
   color: #76c225;
   font-family: helvetica, serif;
   padding: 8.5px 18px;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
}

.submit-button:hover {
   border: 1px solid #447314;
   text-shadow: #31540c 0 1px 0;
   background: #6aa436;
   background: linear-gradient(top, #8dc059, #6aa436);
   color: #fff;
}

.submit-button:active {
   text-shadow: #31540c 0 1px 0;
   border: 1px solid #447314;
   background: #8dc059;
   background: linear-gradient(top, #6aa436, #8dc059);
   color: #fff;
}

/* Fix for admin quizzes */
.height-auto {
  height: auto;
}

/* Misc */
.center {
  text-align: center;
}