/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-completedQuiz {
  background-image: url(../i/sprite.png);
  background-position: 0px -128px;
  width: 64px;
  height: 64px;
}
.icon-firstNote {
  background-image: url(../i/sprite.png);
  background-position: -171px -64px;
  width: 64px;
  height: 64px;
}
.icon-firstQuiz {
  background-image: url(../i/sprite.png);
  background-position: -235px -128px;
  width: 64px;
  height: 64px;
}
.icon-welcome {
  background-image: url(../i/sprite.png);
  background-position: -235px -64px;
  width: 64px;
  height: 64px;
}
.icon-chart {
  background-image: url(../i/sprite.png);
  background-position: -171px 0px;
  width: 64px;
  height: 64px;
}
.icon-chart_hover {
  background-image: url(../i/sprite.png);
  background-position: -64px -192px;
  width: 64px;
  height: 64px;
}
.icon-checkbox_checked {
  background-image: url(../i/sprite.png);
  background-position: -256px -192px;
  width: 29px;
  height: 29px;
}
.icon-checkbox_not_checked {
  background-image: url(../i/sprite.png);
  background-position: -256px -221px;
  width: 29px;
  height: 29px;
}
.icon-delete {
  background-image: url(../i/sprite.png);
  background-position: -299px -120px;
  width: 16px;
  height: 16px;
}
.icon-delete_hover {
  background-image: url(../i/sprite.png);
  background-position: -299px -104px;
  width: 16px;
  height: 16px;
}
.icon-edit {
  background-image: url(../i/sprite.png);
  background-position: -299px -88px;
  width: 16px;
  height: 16px;
}
.icon-edit_hover {
  background-image: url(../i/sprite.png);
  background-position: -299px -136px;
  width: 16px;
  height: 16px;
}
.icon-epam_sign {
  background-image: url(../i/sprite.png);
  background-position: 0px 0px;
  width: 171px;
  height: 64px;
}
.icon-epam_sign_hover {
  background-image: url(../i/sprite.png);
  background-position: 0px -64px;
  width: 171px;
  height: 64px;
}
.icon-facebook {
  background-image: url(../i/sprite.png);
  background-position: -212px -256px;
  width: 24px;
  height: 24px;
}
.icon-facebook_hover {
  background-image: url(../i/sprite.png);
  background-position: -236px -256px;
  width: 24px;
  height: 24px;
}
.icon-favourite_false {
  background-image: url(../i/sprite.png);
  background-position: -299px -152px;
  width: 16px;
  height: 16px;
}
.icon-favourite_hover {
  background-image: url(../i/sprite.png);
  background-position: -299px -72px;
  width: 16px;
  height: 16px;
}
.icon-favourite_true {
  background-image: url(../i/sprite.png);
  background-position: -299px -168px;
  width: 16px;
  height: 16px;
}
.icon-google_plus_sign {
  background-image: url(../i/sprite.png);
  background-position: -192px -192px;
  width: 64px;
  height: 64px;
}
.icon-google_plus_sign_hover {
  background-image: url(../i/sprite.png);
  background-position: -128px -192px;
  width: 64px;
  height: 64px;
}
.icon-googleplus {
  background-image: url(../i/sprite.png);
  background-position: -188px -256px;
  width: 24px;
  height: 24px;
}
.icon-googleplus_hover {
  background-image: url(../i/sprite.png);
  background-position: -164px -256px;
  width: 24px;
  height: 24px;
}
.icon-linkedin {
  background-image: url(../i/sprite.png);
  background-position: -299px 0px;
  width: 24px;
  height: 24px;
}
.icon-linkedin_hover {
  background-image: url(../i/sprite.png);
  background-position: -299px -24px;
  width: 24px;
  height: 24px;
}
.icon-logo {
  background-image: url(../i/sprite.png);
  background-position: 0px -256px;
  width: 70px;
  height: 25px;
}
.icon-logo_hover {
  background-image: url(../i/sprite.png);
  background-position: -70px -256px;
  width: 70px;
  height: 25px;
}
.icon-new-note {
  background-image: url(../i/sprite.png);
  background-position: 0px -192px;
  width: 64px;
  height: 64px;
}
.icon-new-note_hover {
  background-image: url(../i/sprite.png);
  background-position: -235px 0px;
  width: 64px;
  height: 64px;
}
.icon-trash-clean {
  background-image: url(../i/sprite.png);
  background-position: -140px -256px;
  width: 24px;
  height: 24px;
}
.icon-trash {
  background-image: url(../i/sprite.png);
  background-position: -192px -128px;
  width: 32px;
  height: 32px;
}
.icon-trash_hover {
  background-image: url(../i/sprite.png);
  background-position: -192px -160px;
  width: 32px;
  height: 32px;
}
.icon-twitter {
  background-image: url(../i/sprite.png);
  background-position: -299px -48px;
  width: 24px;
  height: 24px;
}
.icon-twitter_hover {
  background-image: url(../i/sprite.png);
  background-position: -260px -256px;
  width: 24px;
  height: 24px;
}
.icon-vk_sign {
  background-image: url(../i/sprite.png);
  background-position: -128px -128px;
  width: 64px;
  height: 64px;
}
.icon-vk_sign_hover {
  background-image: url(../i/sprite.png);
  background-position: -64px -128px;
  width: 64px;
  height: 64px;
}
