<div class="quiz-list-header">
    <div class="quiz-list-header__title">Categories</div>
</div>

<form class="search">
  <h3>Search category</h3>
  <input type="text" class="search-input" ng-model="CategoriesCtrl.search" placeholder="Search"/>
    <button class="admin-button-container"
            ng-click="CategoriesCtrl.modalToggle()"}>New category</button>
</form>

<div class="quiz-list-selection height-auto">
    <table class="quiz-list-selection-table">
        <tr class="quiz-list-selection-table-row-heading">
            <th class="quiz-list-selection-table-row-heading__title">Title</th>
            <th class="quiz-list-selection-table-row-heading__title">Description</th>
            <th class="quiz-list-selection-table-row-heading__title">Actions</th>
        </tr>
        <tr class="quiz-list-selection-table-row-content"
            ng-repeat="category in CategoriesCtrl.categories | filter : CategoriesCtrl.search"
            ng-show="pageFilter($index)">
            <td class="quiz-list-selection-table-row-content__title">{{category.title}}</td>
            <td class="quiz-list-selection-table-row-content__title">{{category.description}}</td>
            <td class="quiz-list-selection-table-row-content__title"><i class="fa fa-trash-o" ng-click='CategoriesCtrl.removeCategory(category)'></i>  <i class="fa fa-wrench" ng-click='CategoriesCtrl.editCategory(category);'></i></td>
        </tr>
    </table>
</div>

<eq-pagination limit="10" view-list="CategoriesCtrl.categories"></eq-pagination>

<div class="modal-background is-hidden" id="modal">
  <div class="center-block absolute-center modal big">
    <form ng-submit="CategoriesCtrl.addCategory()" style="margin: 30px auto 0;" class="form-container">
        <div class="form-title"><h2>{{CategoriesCtrl.formTitle}}</h2></div>

        <div class="form-title">Title</div>
        <input class="form-field" type="text" placeholder="Title" ng-model="CategoriesCtrl.category.title" ng-model-options="{ updateOn: 'submit' }" required><br/>

        <div class="form-title">Description</div>
        <textarea class="form-field" ng-model="CategoriesCtrl.category.description" ng-model-options="{ updateOn: 'submit' }" placeholder="Description"></textarea><br/>

        <div class="submit-container">
            <input class="submit-button" type="reset" value="Cancel" ng-click='CategoriesCtrl.resetTitle();CategoriesCtrl.clickToOpen();' />
            <input class="submit-button" type="submit" value="Submit" />
        </div>
    </form>
  </div>
</div>
