<div class="quiz-list-header">
    <div class="quiz-list-header__title">Categories</div>
</div>

<form class="search">
  <h3>Search category</h3>
  <input type="text" class="search-input" ng-model="QuizzesCtrl.search" placeholder="Search"/>
</form>

<div class="quiz-list-selection height-auto">
    <table class="quiz-list-selection-table">
        <tr class="quiz-list-selection-table-row-heading">
            <th class="quiz-list-selection-table-row-heading__title">Title</th>
            <th class="quiz-list-selection-table-row-heading__title">Description</th>
            <th class="quiz-list-selection-table-row-heading__title">Actions</th>
        </tr>
        <tr class="quiz-list-selection-table-row-content" ng-repeat="category in CategoriesCtrl.categories | filter : CategoriesCtrl.search">
            <td class="quiz-list-selection-table-row-content__title">{{category.title}}</td>
            <td class="quiz-list-selection-table-row-content__title">{{category.description}}</td>
            <td class="quiz-list-selection-table-row-content__title"><i class="fa fa-trash-o" ng-click='CategoriesCtrl.removeCategory(category)'></i>  <i class="fa fa-wrench" ng-click='CategoriesCtrl.editCategory(category)'></i></td>
        </tr>
    </table>
    <button ng-click="CategoriesCtrl.clickToOpen()">ShowForm</button>
</div>
