<div class="quizzes-header">
    <div class="quizzes-header__title">Users</div>
</div>

<form class="search">
  <h3>Search user</h3>
  <input type="text" class="search-input" ng-model="QuizzesCtrl.search" placeholder="Search"/>
</form>

<div class="quizzes-selection height-auto">
    <table class="quizzes-selection-table">
        <tr class="quizzes-selection-table-row-heading">
            <th class="quizzes-selection-table-row-heading__title">Index</th>
            <th class="quizzes-selection-table-row-heading__title">ID</th>
            <th class="quizzes-selection-table-row-heading__title">Name</th>
            <th class="quizzes-selection-table-row-heading__title">Email</th>
            <th class="quizzes-selection-table-row-heading__title">createAt</th>
            <th class="quizzes-selection-table-row-heading__title">editedAt</th>
            <th class="quizzes-selection-table-row-heading__title">Total notes</th>
            <th class="quizzes-selection-table-row-heading__title">Total quizzes passed</th>
            <th class="quizzes-selection-table-row-heading__title">Actions</th>
        </tr>
        <tr class="quizzes-selection-table-row-content" ng-repeat="user in UsersCtrl.users | filter : UsersCtrl.search">
            <td class="quizzes-selection-table-row-content__title">{{$index}}</td>
            <td class="quizzes-selection-table-row-content__title">{{user._id}}</td>
            <td class="quizzes-selection-table-row-content__title">{{user.name}}</td>
            <td class="quizzes-selection-table-row-content__title">{{user.email}}</td>
            <td class="quizzes-selection-table-row-content__title">{{user.createAt | date:'dd/MM/yyyy'}}</td>
            <td class="quizzes-selection-table-row-content__title">{{user.editedAt | date:'dd/MM/yyyy'}}</td>
            <td class="quizzes-selection-table-row-content__title">{{user.notes.length}}</td>
            <td class="quizzes-selection-table-row-content__title">{{user.history.length}}</td>
            <td class="quizzes-selection-table-row-content__title"><i class="fa fa-wrench" ng-click='UsersCtrl.editUser(user)'></i></td>
        </tr>
    </table>
</div>

<form ng-submit="UsersCtrl.addUser()" style="margin: 30px auto 0;" class="form-container">
  <div class="form-title"><h2>{{UsersCtrl.formTitle}}</h2></div>

  <div class="form-title">Name:</div>
  <input class="form-field" type="text" placeholder="Name" ng-model="UsersCtrl.user.name" ng-model-options="{ updateOn: 'submit' }"><br/>


  <div class="form-title">Email</div>
  <input class="form-field" type="text" placeholder="Email" ng-model="UsersCtrl.user.email" ng-model-options="{ updateOn: 'submit' }" ng-disabled="UsersCtrl.user.emailDis"><br/>

  <div class="form-title">Password</div>
  <input class="form-field" type="text" placeholder="Password" ng-model="UsersCtrl.user.password" ng-model-options="{ updateOn: 'submit' }"><br/>

  <div class="submit-container">
    <input class="submit-button" type="reset" value="Cancel" ng-click='UsersCtrl.resetTitle()' />
    <input class="submit-button" type="submit" value="Submit" />
  </div>
</form>