<div class="notes-list-pagination">
    <ul class="notes-list-pagination-buttonset">
        <li class="notes-list-pagination-buttonset-item" ng-click="goToFirstPage()"> <span class="notes-list-pagination-buttonset-item__title is-first">First</span> </li>
        <li class="notes-list-pagination-buttonset-item" ng-click="goToPreviousPage()"> <span class="notes-list-pagination-buttonset-item__title">&laquo;</span> </li>
        <li class="notes-list-pagination-buttonset-item">
            <span class="notes-list-pagination-buttonset-item__title" ng-show="!pageList.length">&bull;</span>
        </li>
        <li class="notes-list-pagination-buttonset-item"
             ng-click="goToPage(page)"
             ng-repeat="page in pageList"
             ng-class="{'is-active': activePage === page}">
            <span class="notes-list-pagination-buttonset-item__title">{{page + 1}}</span>
        </li>
        <li class="notes-list-pagination-buttonset-item" ng-click="goToNextPage()">
            <span class="notes-list-pagination-buttonset-item__title">&raquo;</span>
        </li>
        <li class="notes-list-pagination-buttonset-item" ng-click="goToLastPage()">
            <span class="notes-list-pagination-buttonset-item__title is-last">Last</span>
        </li>
        </ul>
    </div>