<div class="quiz">
	<div class="quiz__title">
		{{PassingQuizCtrl.quiz.title}}
	</div>
	<div class="quiz-block">
		<div class="quiz-block__intro" >
            <div class="quiz-block__intro_slide" ng-style="{'margin-left': QuizzesContainerCtrl.quizFactory.margin + 'px'}">
                About this quiz
            </div>
        </div>
		<div class="quiz-block-question" ng-repeat="question in PassingQuizCtrl.quiz.questions">
			<div class="quiz-block-question__title" ng-style="{'margin-left': QuizzesContainerCtrl.quizFactory.margin + 'px'}">
				<pre class="quiz-block-question__text">{{question.text}}</pre>
			</div>
		</div>
		<div class="quiz-block-answer" ng-style="{'margin-left': QuizzesContainerCtrl.quizFactory.margin + 'px'}" >
			<div class="quiz-block-answer__intro">
                {{PassingQuizCtrl.quiz.description}}
            </div>
			<form action="" class="quiz-block-answer-form" ng-repeat="question in PassingQuizCtrl.quiz.questions">
				<ul class="quiz-block-answer-form-list">
					<li class="quiz-block-answer-form-list-item" ng-repeat="answer in question.answers">
						<input ng-model="answer.userResult" id="{{answer._id}}" type="checkbox"
							   class="quiz-block-answer-form-list-item__checkbox" hidden>
						<label for="{{answer._id}}" class="quiz-block-answer-form-list-item__title">
							{{answer.text}}
						</label>
					</li>
				</ul>
			</form>
		</div>
        <button class="quiz-block__save-to-note" ng-show="PassingQuizCtrl.isShown()" ng-click="PassingQuizCtrl.saveToNote()">
            Save to new note
        </button>
		<button class="quiz-block__submit" ng-click="PassingQuizCtrl.nextQuestion()"
				ng-if="QuizzesContainerCtrl.quizFactory.questionCount != PassingQuizCtrl.quiz.questions.length; PassingQuizCtrl.isLoggedIn();">
            {{QuizzesContainerCtrl.quizFactory.buttonText}}
		</button>
		<input class="quiz-block__submit" type="submit"  value="SHOW RESULT"
			   ng-click="PassingQuizCtrl.checkResult();"
			   ng-hide="QuizzesContainerCtrl.quizFactory.questionCount != PassingQuizCtrl.quiz.questions.length;">
	</div>
	<div class="quiz-counter" ng-show="QuizzesContainerCtrl.quizFactory.startQuiz">
		<span class="quiz-counter-indicator">
			<span class="quiz-counter-indicator__current">{{QuizzesContainerCtrl.quizFactory.questionCount}}</span
			><span class="quiz-counter-indicator__separator">/</span
			><span class="quiz-counter-indicator__total">{{PassingQuizCtrl.quiz.questions.length}}</span>
		</span>
	</div>
	<div class="quiz-back">
		<a href="" class="quiz-back__title" ng-click="QuizzesContainerCtrl.backToAllQuizzes()">BACK TO ALL QUIZZES</a>
	</div>
</div>
<div ng-hide="PassingQuizCtrl.dataLoaded" class="preloader">
</div>




