<div class="quiz">
    <div class="quiz__title">
        {{passingQuizCtrl.quiz.title}}
    </div>
    <div class="quiz-question-block">
        <div class="question-block__question" ng-repeat="question in passingQuizCtrl.quiz.questions">
            {{question.text}}

            <ul class="question-block-answers-list">
                <li class="question-block-answers-list-item" ng-repeat="answer in question.answers">
                    <label class="question-block-answers-list-item-answer__title">
                        <input type="checkbox" class="question-block-answers-list-item-answer__select">
                        {{answer.text}}
                    </label>
                </li>
            </ul>
        </div>
    </div>


<div class="quiz-back" ><a href="" class="quiz-back__link" ng-click="quizzesContainerCtrl.quizService.activeQuiz = null">BACK TO ALL QUIZZES</a></div>
<div class="quiz-counter">
      <span class="quiz-counter-indicator">
                  <span class="quiz-counter-indicator__item quiz-counter-indicator__item_current">7</span
                          ><span class="quiz-counter-indicator__item quiz-counter-indicator__item_separator">/</span><span class="quiz-counter-indicator__item quiz-counter-indicator__item_total">20</span>
                </span
                        >
</div>
</div>