<div class="quizzes-header">
    <div class="quizzes-header__title">{{questionCtrl.question.text}}</div>
</div>
<div class="quizzes-header">
    <div class="quizzes-header__title">Answers</div>
</div>

<div class="quizzes-selection">
    <table class="quizzes-selection-table">
        <tr class="quizzes-selection-table-row-heading">
            <th class="quizzes-selection-table-row-heading__title">Text</th>
            <th class="quizzes-selection-table-row-heading__title">ID</th>
            <th class="quizzes-selection-table-row-heading__title">createAt</th>
            <th class="quizzes-selection-table-row-heading__title">Correct</th>
            <th class="quizzes-selection-table-row-heading__title">Actions</th>
        </tr>
        <tr class="quizzes-selection-table-row-content" ng-repeat="answer in questionCtrl.question.answers">
            <td class="quizzes-selection-table-row-content__title">{{answer.text}}</td>
            <td class="quizzes-selection-table-row-content__title"  ui-sref="admin.question({ id: question._id})">{{answer._id}}</td>
            <td class="quizzes-selection-table-row-content__title">{{answer.createAt}}</td>
            <td class="quizzes-selection-table-row-content__title">{{answer.correct}}</td>
            <td class="quizzes-selection-table-row-content__title"><i class="fa fa-trash-o" ng-click='questionCtrl.removeAnswer(answer)'></i><i class="fa fa-wrench" ng-click='questionCtrl.editAnswer(answer)'></i></td>
        </tr>
    </table>
</div>


<!-- <h2>
  {{questionCtrl.question.text}}
</h2>
<h3>
  Answers:
</h3>
<div ng-repeat="answer in questionCtrl.question.answers">
  <i class="fa fa-trash-o" ng-click='questionCtrl.removeAnswer(answer)'></i>
  <i class="fa fa-wrench" ng-click='questionCtrl.editAnswer(answer)'></i>
  <a href="#/question/{{question._id}}/question/{{question._id}}">
    {{answer.text}}
  </a>
  - {{answer.correct}}
  <small>createAt</small> {{question.createAt}}

</div> -->

<!-- post template -->

<!-- <form ng-submit="questionCtrl.addAnswer()"
  style="margin-top:30px;">
  <h3>Add new/edit answer</h3>

  <input type="text" placeholder="Text of question" ng-model="answer.text"></input><br/>

  <label for="correct">is this a correct answer?</label>
  <input name="correct" type="checkbox"
  ng-model="answer.correct"></input><br/>

  <button type="submit">go</button>
</form> -->

<form ng-submit="questionCtrl.addAnswer()" style="margin: 30px auto 0;" class="form-container">
  <div class="form-title"><h2>Add new/edit answer</h2></div>

  <div class="form-title">Text</div>
  <textarea class="form-field" ng-model="answer.text" placeholder="Text"></textarea><br/>

  <div class="form-title">Is correct?</div>
  <input name="correct" type="checkbox"
  ng-model="answer.correct"></input><br/>

  <div class="submit-container">
  <input class="submit-button" type="submit" value="Submit" />
  </div>
</form>
