<h2>
  {{question.text}}
</h2>
<h3>
  Answers:
</h3>
<div ng-repeat="answer in question.answers">
  <i class="fa fa-trash-o" ng-click='removeAnswer(answer)'></i>
  <i class="fa fa-wrench" ng-click='editAnswer(answer)'></i>
  <a href="#/question/{{question._id}}/question/{{question._id}}">
    {{answer.text}}
  </a>
  - {{answer.correct}}
  <small>createAt</small> {{question.createAt}}

</div>

<!-- post template -->

<form ng-submit="addAnswer()"
  style="margin-top:30px;">
  <h3>Add new/edit answer</h3>

  <input type="text" placeholder="Text of question"
  ng-model="answer.text"></input><br/>

  <label for="correct">is this a correct answer?</label>
  <input name="correct" type="checkbox"
  ng-model="answer.correct"></input><br/>

  <button type="submit">go</button>
</form>