<div class="quizzes-header">
    <div class="quizzes-header__title">Categories</div>
</div>

<form class="login-form">
  <h3>Search category</h3>
  </div>
  <div class="form-group">
    <input type="text" class="login-form-control" ng-model="CategoriesCtrl.search" placeholder="Search"/>
  </div>
</form>

<div class="quizzes-selection height-auto">
    <table class="quizzes-selection-table">
        <tr class="quizzes-selection-table-row-heading">
            <th class="quizzes-selection-table-row-heading__title">Title</th>
            <th class="quizzes-selection-table-row-heading__title">Description</th>
            <th class="quizzes-selection-table-row-heading__title">Actions</th>
        </tr>
        <tr class="quizzes-selection-table-row-content" ng-repeat="category in CategoriesCtrl.categories | filter : CategoriesCtrl.search">
            <td class="quizzes-selection-table-row-content__title">{{category.title}}</td>
            <td class="quizzes-selection-table-row-content__title">{{category.description}}</td>
            <td class="quizzes-selection-table-row-content__title"><i class="fa fa-trash-o" ng-click='CategoriesCtrl.removeCategory(category)'></i>  <i class="fa fa-wrench" ng-click='CategoriesCtrl.editCategory(category)'></i></td>
        </tr>
    </table>
</div>

<form ng-submit="CategoriesCtrl.addCategory()" style="margin: 30px auto 0;" class="form-container">
  <div class="form-title"><h2>{{CategoriesCtrl.formTitle}}</h2></div>

  <div class="form-title">Title</div>
  <input class="form-field" type="text" placeholder="Title" ng-model="CategoriesCtrl.category.title" ng-model-options="{ updateOn: 'submit' }"></input><br/>

  <div class="form-title">Description</div>
  <textarea class="form-field" ng-model="CategoriesCtrl.category.description" ng-model-options="{ updateOn: 'submit' }" placeholder="Description"></textarea><br/>

  <div class="submit-container">
    <input class="submit-button" type="reset" value="Cancel" ng-click='CategoriesCtrl.resetTitle()' />
    <input class="submit-button" type="submit" value="Submit" />
  </div>
</form>