<div class="quizzes-header">
    <div class="quizzes-header__title">Categories</div>
</div>

<div class="quizzes-selection">
    <table class="quizzes-selection-table">
        <tr class="quizzes-selection-table-row-heading">
            <th class="quizzes-selection-table-row-heading__title">Title</th>
            <th class="quizzes-selection-table-row-heading__title">Description</th>
            <th class="quizzes-selection-table-row-heading__title">Actions</th>
        </tr>
        <tr class="quizzes-selection-table-row-content" ng-repeat="category in CategoriesCtrl.categories">
            <td class="quizzes-selection-table-row-content__title">{{category.title}}</td>
            <td class="quizzes-selection-table-row-content__title">{{category.description}}</td>
            <td class="quizzes-selection-table-row-content__title"><i class="fa fa-trash-o" ng-click='CategoriesCtrl.removeCategory(category)'></i>  <i class="fa fa-wrench" ng-click='CategoriesCtrl.editCategory(category)'></i></td>
        </tr>
    </table>
</div>

<form ng-submit="CategoriesCtrl.addCategory()" style="margin: 30px auto 0;" class="form-container">
  <div class="form-title"><h2>Add new category</h2></div>

  <div class="form-title">Title</div>
  <input class="form-field" type="text" placeholder="Title" ng-model="CategoriesCtrl.category.title"></input><br/>

  <div class="form-title">Description</div>
  <textarea class="form-field" ng-model="CategoriesCtrl.category.description" placeholder="Description"></textarea><br/>

  <div class="submit-container">
  <input class="submit-button" type="submit" value="Submit" />
  </div>
</form>